.cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;

  .cart__modal-fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-type-7);
  }

  .cart__modal{
  width: 40%;
    height: fit-content;
    background-color: var(--color-text-default-main);
    position: relative;
    z-index: 2;
    margin-top: 10%;

    .cart__modal-container-header{
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cart__modal-header{
            font-size: 21px;
            font-weight: 400;
            line-height: 33.6px;
            font-family: "Albert Sans", sans-serif;
            color: var(--color-text-small-headers-in-sections);
        }
        .cart__modal-container-icon-close{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

        .cart__products-header{
            padding: 0 15px;
            font-size: 12px;
            font-weight: 700;
            font-family: "Albert Sans", sans-serif;
            line-height: 18px;
            color: var(--color-text-main-description);
            text-align: left;
        }
  }

}

.not-visible{
    display: none;
}