.footer {
  width: 100%;
}

.footer__main-container-content {
  width: 100%;
  background-color: var(--color-background-main);
  padding: 60px 24px;
}
.footer__container-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__main-container-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex: 0.25;
      align-items: flex-start;
  }
}
.footer__container-logo-company {
  width: 163px;
  height: 50px;
}
.footer__logo-company {
  width: 100%;
  height: 100%;
}
.footer__container-icons-socials {
  width: 165px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.footer__container-icon-socials {
  width: 30px;
  height: 30px;

  .footer-logo_2gS{
    fill: var(--color-text-default-main);

    &.footer-logo_2gS:hover{
      fill: #E0E0D9;
    }
  }
}
.footer__mobile-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  font-family: "Albert Sans", sans-serif;
  color: var(--color-text-default-main);
  text-align: center;
  margin-top: 80px;

  @media (min-width: 768px) {
    display: none;
  }
}
.footer__mobile-name-company {
  font-size: 18px;
  font-weight: 700;
  line-height: 28.8px;
  font-family: "Albert Sans", sans-serif;
  color: var(--color-main-company);
}
.footer__mobile-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-background-type-1);
  margin: 50px 0;

  @media (min-width: 768px) {
    display: none;
  }
}
.footer__main-container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  @media (min-width: 768px) {
    margin-top: 75px;
    align-items: flex-start;
  }

  .footer__header-form {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.2px;
    font-weight: 800px;
    font-family: "Albert Sans", sans-serif;
    color: rgb(247, 247, 245);
    margin: 20px 0;
  }
  .footer__description-form {
    font-size: 14px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 500;
    color: var(--color-text-type-1);
    line-height: 23.8px;
  }
  .footer__form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer__input-form {
      width: 100%;
      height: 40px;
      background-color: var(--color-background-type-1);
      padding: 11px 22px;
      border-radius: 20px;
      border: 0;
      font-size: 15px;
      font-weight: 400;
      color: var(--color-text-default-main);
      font-family: "Albert Sans", sans-serif;
    }
    .footer__input-form::placeholder {
      color: var(--color-text-placeholder-input-form);
    }

    .footer__button-form {
      width: 100%;
      height: 39px;
      border-radius: 20px;
      border: 0;
      color: var(--color-text-default-main);
      cursor: pointer;
      font-family: "Albert Sans", sans-serif;
      font-size: 14px;
      font-weight: 400px;
      line-height: 16.8px;
      background-color: var(--color-main-company);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
/* block-right */
.footer__main-container-navigation {
  flex: 0.6;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex: 0.65;
    margin: 0;
    margin-left: auto;
  }

  .footer__main-header-navigation {
    display: none;

    @media (min-width: 768px) {
      display: block;
      font-size: 19px;
      font-weight: 400;
      line-height: 30.4px;
      font-family: "Albert Sans", sans-serif;
      color: var(--color-text-default-main);
      text-align: left;
    }

    .footer__main-name-company {
      @media (min-width: 768px) {
        font-size: 19px;
        font-weight: 700;
        line-height: 30.4px;
        font-family: "Albert Sans", sans-serif;
        color: var(--color-main-company);
      }
    }
  }

  .footer__main-line-navigation {
    display: none;

    @media (min-width: 768px) {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #373737;
      margin: 40px 0;
    }
  }

  .footer__container-links {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 30px;
    }

    .footer__container-item-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 80px;

      @media (min-width: 768px) {
        margin-top: 0;
        flex: 0.2;
        align-items: flex-start;
      }

      .footer__header-item-links {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1.2px;
        font-weight: 800;
        font-family: "Albert Sans", sans-serif;
        color: rgb(247, 247, 245);
      }

      .footer__line-item-links {
        width: 16%;
        height: 3px;
        background-color: var(--color-main-company);
        margin: 15px 0;
      }
      .footer__line-contacts-item-links {
        width: 11%;
        height: 3px;
        background-color: var(--color-main-company);
        margin: 15px 0;
      }

      .footer__item-link {
        display: block;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
        font-family: "Albert Sans", sans-serif;
        cursor: pointer;
        color: var(--color-text-type-1);
        margin: 10px 0;
      }

      .footer__container-contacts {
        display: flex;
        margin: 10px 0;

        .footer__container-icon-contacts {
          width: 20px;
          height: 24px;
          color: #818180;
        }

        .footer__name-contacts {
          font-size: 14px;
          font-weight: 500;
          font-family: "Albert Sans", sans-serif;
          color: var(--color-text-type-1);
          line-height: 23.8px;
          margin-left: 10px;
        }
        .footer__link-name-contacts {
          display: block;
          text-decoration: none;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          font-family: "Albert Sans", sans-serif;
          color: var(--color-text-type-1);
          line-height: 23.8px;
          margin-left: 10px;
        }
      }
    }
    .desktop-footer__container-item-links {
      @media (min-width: 768px) {
        width: 40%;
      }
    }
  }
}

.footer__container-copyright {
  width: 100%;
  height: 271px;
  background-color: var(--color-background-type-3);
  padding: 24px;

  @media (min-width: 768px) {
    height: auto;
  }

  .footer__container-content-copyright {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer__container-icon-copyright {
    font-size: 14px;
    font-weight: 500;
    font-family: "Albert Sans", sans-serif;
    line-height: 23.8px;
    color: var(--color-text-type-1);

    @media (min-width: 768px) {
      flex: 0.2;
      text-align: left;
    }
    @media (min-width: 1024px) {
      flex: 1;
    }
  }

  .footer__container-menu-copyright {
    max-width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      flex: 0.3;
      flex-wrap: wrap;
    }
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
  .footer__item-menu-copyright {
    list-style-type: none;
    margin-right: 5px;
  }
  .footer__link-item-menu-copyright {
    font-size: 14px;
    font-weight: 500;
    font-family: "Albert Sans", sans-serif;
    line-height: 23.8px;
    color: var(--color-text-type-1);
  }
}
