.cart {
  width: 70px;
  height: 70px;
  background-color: var(--color-text-default-main);
  border-radius: 50%;
  border: 1px solid var(--color-background-type-2);
  position: fixed;
  top: 9%;
  right: 3%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 2px var(--color-background-type-6);

  .cart__icon {
    width: 40px;
    height: 40px;

    .cart__icon-image {
      width: 100%;
      height: 100%;

      .cart__icon-path {
        stroke: var(--color-background-type-1);
      }
    }
  }

  .cart__container {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: -7%;
    border-radius: 50%;
    background-color: var(--color-main-company);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Times New Roman";
    color: var(--color-text-default-main);
  }
}
