@import "global.css";
@import "../css/global.header-nav.css";
@import "../index/css/index.header-hero.css";
@import "../index/css/index.about-us.css";
@import "../index/css/index.categories.css";
@import "../index/css/index.features.css";
@import "../index/css/index.projects.css";
/* @import "index/css/index.partners.css";
@import "index/css/index.featured-products.css";
@import "index/css/index.what-we-offer.css";
@import "index/css/index.latest-news.css";
@import "index/css/index.slider-above-footer.css"; */
@import "global.footer.css";

