<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main class="main">
      <section>
        <h2>Our Projects</h2>
        <p>Home / Our Projects</p>
      </section>
      <div>
        <div>
          <div>
            <div>
              <div>
                <img width="20" height="24" src="img/logo-icon.svg" alt="" />
              </div>
              <span>Our works</span>
            </div>
            <h1>Experience the Timeless Beauty of Furniture</h1>
          </div>
          <div>
            <p>
              Our furniture is created by real craftsmen and famous designers
              with customers' needs in mind. All the items perfectly combine
              style, functionality, comfort, and the highest quality possible.
            </p>
            <p>
              Look through the latest design projects and see the difference!
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Living Room</p>
            <p>Office Furniture</p>
            <p>Bedroom Furniture</p>
            <p>Kitchen Furnishings</p>
          </div>
          <div>
            <div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/living-room-green-live.webp" alt="GreenLive" />
                </div>
                <section>
                  <h2>GreenLive</h2>
                  <p>Production - 12 days | 10 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/living-room-bali-style.webp" alt="Bali Style" />
                </div>
                <section>
                  <h2>Bali Style</h2>
                  <p>Production - 30 days | 50 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/living-room-minimal-design.webp" alt="Minimal Design" />
                </div>
                <section>
                  <h2>Minimal Design</h2>
                  <p>Production - 20 days | 10 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/living-room-cozy-home.webp" alt="CozyHome" />
                </div>
                <section>
                  <h2>CozyHome</h2>
                  <p>Production - 30 days | 8 items</p>
                </section>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/office-furniture-waiting-corner.webp" alt="Waiting Corner" />
                </div>
                <section>
                  <h2>Waiting Corner</h2>
                  <p>Production - 10 days | 3 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/office-furniture-canteen-for-a-startup.webp" alt="Canteen for a Startup" />
                </div>
                <section>
                  <h2>Canteen for a Startup</h2>
                  <p>Production - 60 days | 50 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/office-furniture-home-office.webp" alt="Home Office" />
                </div>
                <section>
                  <h2>Home Office</h2>
                  <p>Production - 30 days | 12 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/office-furniture-chillout-zone.webp" alt="Chillout Zone" />
                </div>
                <section>
                  <h2>Chillout Zone</h2>
                  <p>Production - 20 days | 12 items</p>
                </section>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/bedroom-furniture-bali-bedroom.webp" alt="Bali Bedroom" />
                </div>
                <section>
                  <h2>Bali Bedroom</h2>
                  <p>Production - 12 days | 3 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/bedroom-furniture-bedroom-with-a-terrace.webp" alt="Bedroom with a Terrace" />
                </div>
                <section>
                  <h2>Bedroom with a Terrace</h2>
                  <p>Production - 30 days | 20 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/bedroom-furniture-master-bedroom.webp" alt="Master Bedroom" />
                </div>
                <section>
                  <h2>Master Bedroom</h2>
                  <p>Production - 20 days | 10 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/bedroom-furniture-modern-home.webp" alt="Modern Home" />
                </div>
                <section>
                  <h2>Modern Home</h2>
                  <p>Production - 10 days | 8 items</p>
                </section>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/kitchen-furnishings-bar-kitchen.webp" alt="Bar & Kitchen" />
                </div>
                <section>
                  <h2>Bar & Kitchen</h2>
                  <p>Production - 40 days | 12 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/kitchen-furnishings-dining-zone.webp" alt="Dining Zone" />
                </div>
                <section>
                  <h2>Dining Zone</h2>
                  <p>Production - 45 days | 30 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/kitchen-furnishings-duplex-kitchen.webp" alt="Duplex Kitchen" />
                </div>
                <section>
                  <h2>Duplex Kitchen</h2>
                  <p>Production - 50 days | 20 items</p>
                </section>
              </div>
              <div>
                <div>
                  <img width="570" height="545" src="projects/img/kitchen-furnishings-minimal-kitchen.webp" alt="Minimal Kitchen" />
                </div>
                <section>
                  <h2>Minimal Kitchen</h2>
                  <p>Production - 30 days | 20 items</p>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>
