<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main class="main">
      <section class="projects">
        <h2 class="projects__header-description">Our Projects</h2>
        <p class="projects__header-nav">Home / Our Projects</p>
      </section>
      <div class="projects__container">
        <div class="projects__container-description">
          <div class="projects__container-header">
            <div class="projects__container-icon-company">
              <div class="projects__container-icon">
                <img
                  class="projects__icon"
                  width="20"
                  height="24"
                  src="img/logo-icon.svg"
                  alt="ModCraft`s Icon"
                />
              </div>
              <span class="projects__name-section">Our works</span>
            </div>
            <h1 class="projects__header">
              Experience the Timeless Beauty of Furniture
            </h1>
          </div>
          <div class="projects__container-text">
            <p class="projects__text-item">
              Our furniture is created by real craftsmen and famous designers
              with customers' needs in mind. All the items perfectly combine
              style, functionality, comfort, and the highest quality possible.
            </p>
            <p class="projects__text-item">
              Look through the latest design projects and see the difference!
            </p>
          </div>
        </div>
        <div>
          <div class="projects__categories">
            <p class="projects__categories-item">Living Room</p>
            <p class="projects__categories-item">Office Furniture</p>
            <p class="projects__categories-item">Bedroom Furniture</p>
            <p class="projects__categories-item">Kitchen Furnishings</p>
          </div>
          <div class="projects__container-images">
            <div class="projects__container-images-column">
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/living-room-green-live.webp"
                    alt="GreenLive"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">GreenLive</h2>
                  <p class="projects__image-description">
                    Production - 12 days | 10 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/living-room-bali-style.webp"
                    alt="Bali Style"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Bali Style</h2>
                  <p class="projects__image-description">
                    Production - 30 days | 50 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/living-room-minimal-design.webp"
                    alt="Minimal Design"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Minimal Design</h2>
                  <p class="projects__image-description">
                    Production - 20 days | 10 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/living-room-cozy-home.webp"
                    alt="CozyHome"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">CozyHome</h2>
                  <p class="projects__image-description">
                    Production - 30 days | 8 items
                  </p>
                </section>
              </div>
            </div>
            <div class="projects__container-images-column">
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/office-furniture-waiting-corner.webp"
                    alt="Waiting Corner"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Waiting Corner</h2>
                  <p class="projects__image-description">
                    Production - 10 days | 3 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/office-furniture-canteen-for-a-startup.webp"
                    alt="Canteen for a Startup"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Canteen for a Startup</h2>
                  <p class="projects__image-description">
                    Production - 60 days | 50 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/office-furniture-home-office.webp"
                    alt="Home Office"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Home Office</h2>
                  <p class="projects__image-description">
                    Production - 30 days | 12 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/office-furniture-chillout-zone.webp"
                    alt="Chillout Zone"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Chillout Zone</h2>
                  <p class="projects__image-description">
                    Production - 20 days | 12 items
                  </p>
                </section>
              </div>
            </div>
            <div class="projects__container-images-column">
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/bedroom-furniture-bali-bedroom.webp"
                    alt="Bali Bedroom"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Bali Bedroom</h2>
                  <p class="projects__image-description">
                    Production - 12 days | 3 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/bedroom-furniture-bedroom-with-a-terrace.webp"
                    alt="Bedroom with a Terrace"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Bedroom with a Terrace</h2>
                  <p class="projects__image-description">
                    Production - 30 days | 20 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/bedroom-furniture-master-bedroom.webp"
                    alt="Master Bedroom"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Master Bedroom</h2>
                  <p class="projects__image-description">
                    Production - 20 days | 10 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/bedroom-furniture-modern-home.webp"
                    alt="Modern Home"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Modern Home</h2>
                  <p class="projects__image-description">
                    Production - 10 days | 8 items
                  </p>
                </section>
              </div>
            </div>
            <div class="projects__container-images-column">
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/kitchen-furnishings-bar-kitchen.webp"
                    alt="Bar & Kitchen"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Bar & Kitchen</h2>
                  <p class="projects__image-description">
                    Production - 40 days | 12 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/kitchen-furnishings-dining-zone.webp"
                    alt="Dining Zone"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Dining Zone</h2>
                  <p class="projects__image-description">
                    Production - 45 days | 30 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/kitchen-furnishings-duplex-kitchen.webp"
                    alt="Duplex Kitchen"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Duplex Kitchen</h2>
                  <p class="projects__image-description">
                    Production - 50 days | 20 items
                  </p>
                </section>
              </div>
              <div class="projects__container-image-item">
                <div class="projects__container-image-wrapper">
                  <img
                    class="projects__image-wrapper"
                    width="570"
                    height="545"
                    src="projects/img/kitchen-furnishings-minimal-kitchen.webp"
                    alt="Minimal Kitchen"
                  />
                </div>
                <section class="projects__container-image-description">
                  <h2 class="projects__image-header">Minimal Kitchen</h2>
                  <p class="projects__image-description">
                    Production - 30 days | 20 items
                  </p>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects__client-container">
        <div class="projects__client-container-description">
          <div class="projects__client- container- image-quotation-mark">
            <svg
              width="50"
              height="50"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              x="0px"
              y="0px"
              viewBox="0 0 100 100"
              enable-background="new 0 0 100 100"
              xml:space="preserve"
              height="100%"
            >
              <path
                d="M51.6,41.8c0-8.4,6.8-15.2,15.2-15.2c8.4,0,15.2,6.3,15.2,18C82,60.8,69.9,72,56.8,72.2c-2.2,0-3.4-1.3-3.4-3.5v-0.1  c0-2.2,0.6-3.2,1.7-3.5c3.5-0.6,10.6-2.5,12.9-8.1C57.2,57,51.6,50.1,51.6,41.8z M34.7,57c-2.3,5.6-9.4,7.5-12.9,8.1  c-1.1,0.3-1.7,1.3-1.7,3.5v0.1c0,2.2,1.2,3.5,3.4,3.5C36.6,72,48.7,60.8,48.7,44.6c0-11.7-6.8-18-15.2-18c-8.4,0-15.2,6.8-15.2,15.2  S23.8,57,34.7,57z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <p class="projects__client-description">
            "Our project was particularly complex, requiring intricate designs
            and precise measurements to fit our unique space. However, the team
            at ModCraft rose to the challenge with enthusiasm and expertise,
            guiding us through every step of the process with clear
            communication."
          </p>
          <div class="projects__client-container-author">
            <div class="projects__container-image-author">
              <img
                class="projects__image-author"
                width="70"
                height="70"
                src="projects/img/author-john-williamson.webp"
                alt="Author John Williamson"
              />
            </div>
            <div class="projects__container-description-author">
              <p class="projects__name-author">John Williamson</p>
              <p class="projects__profession-author">- Home owner</p>
            </div>
          </div>
        </div>
        <div class="projects__client-container-image">
          <img
            class="projects__client-image"
            width="727"
            height="680"
            src="projects/img/author-photo.webp"
            alt="Bed"
          />
        </div>
      </div>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>
