<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="shop/css/shop.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main class="main">
      <div class="main__main-container">
        <p class="main__description">Store homepage</p>
        <h1 class="main__header">Products</h1>
        <div class="main__container-products"></div>

        <!-- <div class="main__container-page">
          <div class="main__container-per-page">
            <p class="main__per-page-header">Products per page:</p>
            <div class="main__per-page-container-dropdown">
              <div class="main__container-button-dropdown">
                <div class="main__button-dropdown-selected-item">20</div>
                <div class="main__button-dropdown-arrow">&#9660;</div>
              </div>
              <div class="main__dropdown-content">
                <p class="main__dropdown-item">20</p>
                <p class="main__dropdown-item">50</p>
                <p class="main__dropdown-item">100</p>
              </div>
            </div>
          </div>

          <div class="main__container-navigation-pages">
            <div class="main__navigation-arrow">&#60;</div>
            <div class="main__navigation-number-page">1</div>
            <div class="main__navigation-arrow">&#62;</div>
          </div>
        </div> -->
      </div>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="./shop/js/shop.js"></script>
  </body>
</html>
