.partners {
  width: 100%;
  padding: 90px 24px;
  background-image: url(../img/index-partners-background.svg);

  @media(min-width: 768px){
    display: none;
  }
}

.partners__container-icon {
  display: flex;
}
.partners__container-icon-company {
  width: 20px;
  height: 24px;
}
.partners__icon {
  width: 100%;
  height: 100%;
}
.partners__name-section {
  font-size: 12px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 800;
  color: rgb(132, 120, 104);
  line-height: 24px;
  letter-spacing: 1.2px;
}
.partners__header {
  font-size: 34px;
  font-weight: 400;
  font-family: Philosopher, sans-serif;
  line-height: 40.8px;
  color: rgb(58, 58, 58);
  margin: 20px 0;
}
.partners__description {
  font-size: 17px;
  font-weight: 400;
  font-family: "Albert Sans", sans-serif;
  line-height: 25.5px;
  color: rgb(133, 133, 133);
  margin-bottom: 20px;
}
.partners__containers-partners-companies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 70px;
}

.partners__link-partner-company {
  display: block;
  width: 81px;
  height: 48px;
}
.partners__logo-company {
  width: 100%;
  height: 100%;
}

.partners__container-image-furniture-innovation{
    width: 272px;
    height: 239px;
}
.partners__image-furniture-innovation{
    width: 100%;
    height: 100%;
    
}