.featured-products {
  width: 100%;
  background-color: var(--color-background-main);

  .featured-products__main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 90px 24px;
  }
}

.featured-products__container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.featured-products__container-icon-company {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.featured-products__icon {
  width: 100%;
  height: 100%;
}
.featured-products____name-section {
  font-size: 12px;
  font-weight: 800;
  font-family: "Albert Sans", sans-serif;
  color: var(--color-text-default-nav-section-headers);
  line-height: 12px;
  letter-spacing: 1.2px;
}
.featured-products__header {
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  font-family: Philosopher, sans-serif;
  color: var(--color-text-default-main);
  text-align: center;
  margin: 30px 0;
}

.featured-products__container-products {
  display: grid;
  grid-template-columns: repeat(1, minmax(272px, 1fr));
  grid-template-rows: repeat(6, minmax(272px, 1fr));
  grid-gap: 60px;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, minmax(196px, 1fr));
    grid-template-rows: repeat(3, minmax(352px, 1fr));
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, minmax(264px, 1fr));
    grid-template-rows: repeat(2, minmax(487px, 1fr));
  }
}

.featured-products__link-company {
  width: 100%;
  text-decoration: none;
  position: relative;

  .featured-products__version {
    width: 65px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(70, 76, 92);
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-default-main);
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .featured-products__header-version {
    font-size: 18px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    color: var(--color-text-default-main);
    margin: 10px 0;
  }
}
.featured-products__container-image-product {
  width: 100%;
  aspect-ratio: 1/1;
}
.featured-products__image-product {
  width: 100%;
  height: 100%;
}
.featured-products__price {
  font-size: 18px;
  font-weight: 400;
  font-family: "Albert Sans", sans-serif;
  line-height: 28.8px;
  color: var(--color-text-default-main);
}
.featured-products__old-price-price {
  width: 85%;
  display: flex;
  flex-wrap: wrap;

  .featured-products__old-price {
    font-size: 18px;
    font-weight: 400;
    font-family: "Albert Sans", sans-serif;
    line-height: 28.8px;
    color: var(--color-text-default-main);
    margin-right: 20px;
  }
}
.featured-products__button-buy {
  width: 118px;
  height: 49px;
  border-radius: 25px;
  border: 0;
  font-size: 15.4px;
  color: var(--color-text-default-main);
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  line-height: 18.48px;
  background-color: var(--color-main-company);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;

  &.featured-products__button-buy:hover{
    background-color: var(--color-text-default-main);
    color: #3B3B3B;
  }
}
