.features {
  width: 100%;
  height: 1182px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    min-height: 812px;
    max-height: 1000px;
    flex-direction: row;
  }

  @media (min-width: 992px) {
    padding: 120px 0px;
  }
}
.features__container-image {
  flex: 1;
  height: 192px;

  @media (min-width: 768px) {
    height: auto;
  }
}

.features__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: 768px) {
    object-fit: cover;
  }
}
.features-container-description {
  flex: 1;
  padding: 90px 30px;
  background-color: #02776e;

  .features-container-content-description {
    @media (min-width: 768px) {
      max-width: 570px;
      margin: 0 auto;
    }
  }
}
.features__container-icon {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
.features__container-icon-company {
  width: 20px;
  height: 24px;
}
.features__icon-company {
  width: 100%;
  height: 100%;
}
.features__name-section {
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-family: "Albert Sans", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 1.2px;
}
.features-header {
  font-size: 34px;
  font-family: Philosopher, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 40.8px;
  min-width: 90%;
  margin-top: 40px;

  @media (min-width: 768px) {
    font-size: 41px;
  }
  
  @media (min-width: 992px) {
    font-size: 48px;
    line-height: 57.6px;
  }
}
.features-description {
  font-size: 17px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.76);
  line-height: 25.5px;
  margin-top: 20px;
}
.features-container-menu {
  padding-left: 15px;
  margin-top: 15px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 888px) {
    width: 450px;
    display: flex;
    justify-content: space-between;
  }
}
.features-menu-item {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
  line-height: 23.8px;
}
.features__link-learn-more {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 50px;
  border-radius: 25px;
  font-size: 15.4px;
  font-weight: 400;
  font-family: "Albert Sans", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #3b3b3b;
  margin-top: 25px;
}
