.about-us {
  width: 100%;
  /* max-height: 1127px; */
  padding: 90px 0;
  background-image: url(../img/index-about-us-background.svg);
  background-size: cover;
}
.about-us__main-container-content {
  max-width: 1200px;
  margin: auto;
}
.about-us__container-detail {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.about-us__container-image-detail {
  min-width: 272px;
  min-height: 248px;

  @media (min-width: 768px) {
    min-width: 377px;
    max-width: 649px;
    height: fit-content;
  }
}
.about-us__image-detail {
  width: 100%;
  height: 100%;
}
.about-us__container-detail-description {
  min-height: 313px;
  margin-top: 50px;

  @media (min-width: 768px) {
    min-width: 247px;
    max-width: 441px;
    margin-top: 0;
    /* padding: 0 40px; */
    padding-right: 40px;
  }
}
.about-us__container-icon-company {
  display: flex;
  align-items: center;
  max-width: fit-content;
}
.about-us__container-icon {
  width: 20px;
  height: 24px;
}
.about-us__icon-company {
  width: 100%;
  height: 100%;
}
.about-us__name-section {
  font-size: 12px;
  font-family: "Albert Sans", sans-serif;
  color: rgb(132, 120, 104);
  font-weight: 800;
  margin-left: 10px;
}
.about-us__header {
  margin-top: 35px;
  width: 210px;
  font-size: 34px;
  font-family: Philosopher, sans-serif;
  color: rgb(58, 58, 58);
  font-weight: 400;
  line-height: 40.8px;
}
.about-us__description {
  margin-top: 35px;
  width: 100%;
  font-size: 17px;
  font-family: "Albert Sans", sans-serif;
  color: rgb(133, 133, 133);
  font-weight: 400;
  line-height: 25.5px;
}
.about-us__link-learn-more {
  margin-top: 30px;
  display: block;
  text-decoration: none;
  width: 137px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #02776e;
  font-size: 15.4px;
  font-family: "Albert Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 25px;
}
/* block-2 */
.about-us__container-design {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
      margin-top: 100px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.about-us__container-design-description {
  @media (min-width: 768px) {
    min-width: 247px;
    max-width: 440px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
  }
}
.about-us__container-image-quotation-mark {
  width: 50px;
  height: 50px;
}
.about-us__image-quotation-mark {
  width: 100%;
  height: 100%;
  color: #02776e;
}
.about-us__header-design {
  width: 90%;
  font-size: 20px;
  color: rgb(132, 120, 104);
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
  line-height: 26px;
}
.about-us__description-design {
  margin-top: 35px;
  font-size: 17px;
  font-family: "Albert Sans", sans-serif;
  color: rgb(133, 133, 133);
  font-weight: 400;
  line-height: 25.5px;
}
.about-us__container-telephone {
  margin-top: 35px;
}
.about-us__header-telephone {
  font-size: 12px;
  color: rgb(133, 133, 133);
  font-family: "Albert Sans", sans-serif;
  line-height: 12px;
  font-weight: 800;
}
.about-us__link-telephone {
  font-size: 12px;
  color: rgb(132, 120, 104);
  font-family: "Albert Sans", sans-serif;
  line-height: 12px;
  font-weight: 800;
  margin-left: 5px;
}
.about-us__container-image-design {
  min-width: 272px;
  min-height: 176px;
  margin-top: 70px;

  @media (min-width: 768px) {
    min-width: 377px;
    max-width: 649px;
    height: fit-content;
    margin-top: 0;
  }
}
.about-us__image-design {
  background-size: cover;
  width: 100%;
  height: 100%;
}
