.lower-carousel__carousel {
  margin-top: 103px;
  width: 100%;
  min-height: 218px;
  max-height: 293px;
  padding: 30px 0;
  background-color: #3b3b3b;

  .lower-carousel__track-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 39px;

    .lower-carousel__content-main-container {
      width: 100%;
      height: 233px;
      position: relative;
      outline: 1px solid red;

      .lower-carousel__carousel-container-arrow-left {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50px;
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        left: -12px;
        cursor: pointer;

        @media (min-width: 768px) {
          width: 32px;
          height: 32px;
          left: -16px;
        }

        @media (min-width: 1200px) {
          background: none;
        }

        .lower-carousel__carousel-arrow-left {
          width: 8px;
          height: 8px;
          border-top: 2px solid #626863;
          border-left: 2px solid #626863;
          transform: rotate(-45deg);
          margin-left: 2px;

          @media (min-width: 768px) {
            width: 11px;
            height: 11px;
            margin-left: 4px;
          }

          @media (min-width: 1200px) {
            width: 20px;
            height: 20px;
            border-top: 4px solid #c0c0c0;
            border-left: 4px solid #c0c0c0;
            margin-left: -22px;
          }
        }
      }

      .lower-carousel__carousel-container-arrow-right {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50px;
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
        cursor: pointer;

        @media (min-width: 768px) {
          width: 32px;
          height: 32px;
          right: -16px;
        }

        @media (min-width: 1200px) {
          background: none;
        }

        .lower-carousel__carousel-arrow-right {
          width: 8px;
          height: 8px;
          border-top: 2px solid #626863;
          border-left: 2px solid #626863;
          transform: rotate(135deg);
          margin-right: 2px;

          @media (min-width: 768px) {
            width: 11px;
            height: 11px;
            margin-right: 4px;
          }

          @media (min-width: 1200px) {
            width: 20px;
            height: 20px;
            border-top: 4px solid #c0c0c0;
            border-left: 4px solid #c0c0c0;
            margin-right: -22px;
          }
        }
      }
    }
  }
}
