.header-hero {
  margin-top: 103px;
  width: 100%;
  max-height: 1098px;
  padding: 90px 0 100px 0;
  background-image: url(../img/index-hero.jpeg);
  background-position: 54%;

  @media (min-width: 768px) {
    min-width: 100%;
    min-height: 817px;
    background-size: cover;
    background-position: 56%;
    background-repeat: no-repeat;
  }
  @media (min-width: 960px) {
    min-width: 100%;
    min-height: 757px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (min-width: 992px) {
    margin-top: 0;
  }

  .header-hero__container-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
  }

  .header-hero__header {
    font-family: Philosopher, sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: black;

    @media (min-width: 540px) {
      font-size: 60px;
      width: 100%;
    }

    @media (min-width: 768px) {
      font-size: 78px;
      width: 68%;
    }
    @media (min-width: 996px) {
      font-size: 97px;
      width: 50%;
    }
    @media (min-width: 1142px) {
      font-size: 97px;
      width: 100%;
    }
  }
  .header-hero__description {
    font-size: 17px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    color: var(--color-text-main-description);
    line-height: 25.5px;
    margin: 40px 0 20px 0;

    @media (min-width: 768px) {
      max-width: 300px;
    }
    @media (min-width: 1142px) {
      max-width: 500px;
    }
  }
  .header-hero__button-shop-now {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 128px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--color-main-company);
    font-size: 15px;
    font-weight: 700;
    font-family: "Albert Sans", sans-serif;
    color: var(--color-text-default-main);
    margin: 35px 0;
  }
  .header-hero__container-icons {
    width: 100%;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      max-width: 370px;
    }
    @media (min-width: 800px) {
      max-width: 50%;
    }
  }
  .header-hero__item-icon {
    width: 272px;
    height: 82px;
    padding: 15px 0;
    margin-bottom: 40px;
  }
  .header-hero__container-icon {
    width: 50px;
    height: 50px;
  }
  .header-hero__icon {
    width: 100%;
    height: 100%;
  }
  .header-hero__icon-description {
    font-size: 12px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 800;
    text-align: left;
    color: var(--color-text-main-description);
    letter-spacing: 1.2px;
    margin-top: 10px;
  }
}
