.featured-products {
  width: 100%;
  padding: 90px 24px;
  background-color: #2d2d2d;

  @media(min-width:768px){
    display: none;
  }
}

.featured-products__container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.featured-products__container-icon-company {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.featured-products__icon {
  width: 100%;
  height: 100%;
}
.featured-products____name-section {
  font-size: 12px;
  font-weight: 800;
  font-family: "Albert Sans", sans-serif;
  color: rgb(247, 247, 245);
  line-height: 12px;
  letter-spacing: 1.2px;
}
.featured-products__header {
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  font-family: Philosopher, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 30px 0;
}

.featured-products__container-product{
    margin-bottom: 70px;
}
.featured-products__container-product:nth-child(6){
    margin-bottom: 0;
}

.featured-products__link-company {
  width: 272px;
  position: relative;

  .featured-products__version {
    width: 65px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(70, 76, 92);
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .featured-products__header-version {
    font-size: 18px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(255, 255, 255);
    margin: 10px 0;
  }
}
.featured-products__container-image-product {
  width: 100%;
  height: 272px;
}
.featured-products__image-product {
  width: 100%;
  height: 100%;
}
.featured-products__price {
  font-size: 18px;
  font-weight: 400;
  font-family: "Albert Sans", sans-serif;
  line-height: 28.8px;
  color: rgb(255, 255, 255);
}
.featured-products__old-price-price {
  width: 85%;
  display: flex;
  justify-content: space-between;

  .featured-products__old-price {
    font-size: 18px;
    font-weight: 400;
    font-family: "Albert Sans", sans-serif;
    line-height: 28.8px;
    color: rgb(255, 255, 255);
  }
}
.featured-products__button-buy{
    width: 118px;
    height: 49px;
    border-radius: 25px;
    border: 0;
    font-size: 15.4px;
    color: rgb(255, 255, 255);
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    line-height: 18.48px;
    background-color: #02776E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
