.what-we-offer {
  width: 100%;
  padding: 90px 24px 60px 24px;
  background-color: var(--color-text-default-main);
}
.what-we-offer__main-container {
  max-width: 1200px;
  margin: 0 auto;
}
.what-we-offer__container-description {
  @media (min-width: 768px) {
    display: flex;
    gap: 20px;
  }

  .what-we-offer__container-description-icon {
    @media (min-width: 768px) {
      flex: 0.5;
    }
  }
  .what-we-offer__container-description-text {
    @media (min-width: 768px) {
      margin-top: 45px;
      flex: 0.5;
    }
  }
}

.what-we-offer__container-range {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
  .what-we-offer__container-image-highest-furniture {
    @media (min-width: 768px) {
      min-width: 322px;
      min-height: 218px;
      max-width: 555px;
      max-height: 375px;
      flex: 1;
    }
  }
}

.what-we-offer__container-icon {
  display: flex;

  .what-we-offer__container-icon-company {
    width: 20px;
    height: 24px;
  }
  .what-we-offer__icon-company {
    width: 100%;
    height: 100%;
  }
  .what-we-offer__name-section {
    font-size: 12px;
    font-weight: 800;
    font-family: "Albert Sans", sans-serif;
    color: var(--color-text-main-nav-section-headers);
    line-height: 24px;
    letter-spacing: 1.2px;
    margin-left: 10px;
  }
}

.what-we-offer__header {
  font-size: 34px;
  font-weight: 400;
  font-family: Philosopher, sans-serif;
  color: var(--color-text-small-headers-in-sections);
  line-height: 40.8px;
  margin-top: 20px;
  margin-bottom: 70px;

  @media (min-width: 768px) {
    font-size: 41px;
    line-height: 40.8px;
  }
  @media (min-width: 992px) {
    font-size: 48px;
    line-height: 57.6px;
  }
}
.what-we-offer__description {
  font-size: 17px;
  font-weight: 400;
  font-family: "Albert Sans", sans-serif;
  color: var(--color-text-main-description);
  line-height: 25.5px;
  margin-bottom: 20px;
}
.what-we-offer__link-shop {
  font-size: 12px;
  font-weight: 800;
  font-family: "Albert Sans", sans-serif;
  color: var(--color-main-company);
  line-height: 12px;
  letter-spacing: 1.2px;
}
.what-we-offer_image-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-background-type-5);
  margin: 50px 0;
}

.what-we-offer__container-image-highest-furniture {
  min-width: 272px;
  min-height: 184px;
  max-width: 719px;
  max-height: 486px;
  flex: 1;
}
.what-we-offer__image-highest-furniture {
  width: 100%;
  height: 100%;
}

.what-we-offer__container-list-range {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, minmax(272px, 1fr));
  grid-template-rows: repeat(4, minmax(140px, 1fr));
  grid-gap: 50px;

  @media (min-width: 768px) {
    flex: 1;
    margin-top: 0;
    padding-left: 60px;
    grid-template-columns: repeat(2, minmax(131px, 1fr));
    grid-template-rows: repeat(2, minmax(224.5px, 1fr));
    column-gap: 30px;
    row-gap: 15px;
  }

  .what-we-offer__container-logo {
    width: 50px;
    height: 50px;

    .what-we-offer__logo-image {
      width: 100%;
      height: 100%;
    }
  }
  .what-we-offer__header-range {
    font-size: 22px;
    font-weight: 400;
    font-family: Philosopher, sans-serif;
    line-height: 24.2px;
    color: var(--color-text-small-headers-in-sections);
    margin: 20px 0;
  }
  .what-we-offer__description-range {
    font-size: 17px;
    font-weight: 400;
    font-family: "Albert Sans", sans-serif;
    line-height: 25.5px;
    color: var(--color-text-main-description);
  }
}

/* slider */
.what-we-offer__block-carousel {
  width: 100%;
  margin-top: 100px;
  position: relative;

  .what-we-offer__track-container {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    /* delete buttom line */
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */

    .what-we-offer__track {
      display: flex;
      flex-direction: row;
      max-width: max-content;
      gap: 20px;

      .what-we-offer__slide {
        width: calc(300% / 3);
        display: flex;
        flex: 0 0 auto;
        scroll-snap-align: start;
        padding: 0 20px;

        @media (min-width: 768px) {
          padding: 0 70px;
        }
        @media (min-width: 992px) {
          padding: 0 25px;
        }
        @media (min-width: 1150px) {
          padding: 0 60px;
        }
        @media (min-width: 1200px) {
          padding: 0 100px;
        }

        .what-we-offer__container-image-lapki {
          width: 120px;
          height: 120px;

          @media (min-width: 768px) {
            width: 170px;
            height: 170px;
          }

          .what-we-offer__image-lapki {
            width: 100%;
            height: 100%;
          }
        }
        .what-we-offer__slide-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-left: 15px;
          padding-bottom: 20px;

          .what-we-offer__slide-description {
            font-size: 18px;
            font-family: "Albert Sans", sans-serif;
            font-weight: 400;
            color: var(--color-text-small-headers-in-sections);
            line-height: 28.8px;

            @media (min-width: 768px) {
              font-size: 19px;
            }
            @media (min-width: 992px) {
              font-size: 21px;
              line-height: 33.6px;
            }
          }
          .what-we-offer__slider-author {
            font-size: 14px;
            font-weight: 500;
            font-family: "Albert Sans", sans-serif;
            line-height: 23.8px;
            color: var(--color-text-main-nav-section-headers);
            margin-top: 15px;

            @media (min-width: 992px) {
              font-size: 15px;
            }
          }
        }
      }
    }
    &.what-we-offer__track-container::-webkit-scrollbar {
      height: 0; /* Chrome, Safari, Opera — приховати горизонтальний скроллбар */
    }
  }

  .what-we-offer__slider-container-arrow-left {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: var(--color-background-main);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
    @media (min-width: 1200px) {
      background-color: var(--color-text-default-main);
    }

    .what-we-offer__slider-arrow-left {
      width: 9px;
      height: 9px;
      border-top: 2px solid var(--color-background-main);
      border-left: 2px solid var(--color-background-main);
      transform: rotate(-45deg);
      margin-left: 2px;

      @media (min-width: 768px) {
        width: 11px;
        height: 11px;
      }
      @media (min-width: 1200px) {
        width: 20px;
        height: 20px;
        border-top: 3px solid var(--color-background-main);
        border-left: 3px solid var(--color-background-main);
      }
    }
  }

  .what-we-offer__slider-container-arrow-right {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: var(--color-background-main);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;

    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
    @media (min-width: 1200px) {
      background-color: var(--color-text-default-main);
    }
  }

  .what-we-offer__slider-arrow-right {
    width: 9px;
    height: 9px;
    border-top: 2px solid var(--color-background-main);
    border-left: 2px solid var(--color-background-main);
    transform: rotate(135deg);
    margin-right: 2px;

    @media (min-width: 768px) {
      width: 11px;
      height: 11px;
      margin-right: 4px;
    }
    @media (min-width: 1200px) {
      width: 20px;
      height: 20px;
      border-top: 3px solid var(--color-background-main);
      border-left: 3px solid var(--color-background-main);
    }
  }

  .what-we-offer__slider-container-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: fit-content;
    justify-content: space-between;

    .what-we-offer__slider-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-background-type-4);
      margin: 0 10px;
      cursor: pointer;

      &.active-dot-item {
        background-color: var(--color-background-type-3);
      }

      &.what-we-offer__slider-dot:hover {
        background-color: var(--color-background-type-3);
      }
    }
  }
}
