.parallax {
  width: 100%;
  height: 633px;
  padding: 100px 0;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/index-background-take-the-next-step.png);
  background-position: 52%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .parallax__header {
    font-size: 34px;
    font-weight: 400;
    font-family: Philosopher, sans-serif;
    line-height: 40.8px;
    color: var(--color-text-default-main);
    width: 90%;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 41px;
      width: 60%;
      line-height: 49.2px;
    }
    @media (min-width: 992px) {
      font-size: 48px;
      line-height: 57.6px;
    }
  }
  .parallax__button-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 137px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background-color: var(--color-main-company);
    font-size: 15.4px;
    font-weight: 700;
    font-family: "Albert Sans", sans-serif;
    line-height: 18.48px;
    color: var(--color-text-default-main);
    margin-top: 40px;
  }
}
