.categories {
  width: 100%;
  max-height: 1222px;
  padding: 90px 0;
  background-image: url(../img/index-categories-background.png);
}
.categories__main-container {
  width: 100%;
  padding: 0 24px;

  @media (min-width: 768px) {
    width: 40%;
    padding: 0;
    margin: 0 auto;
  }
}
.categories__container-image {
  width: 50px;
  height: 50px;
}
.categories__icon-company {
  width: 100%;
  height: 100%;
}
.categories__name-section {
  font-size: 12px;
  color: var(--color-text-default-nav-section-headers);
  font-family: "Albert Sans", sans-serif;
  font-weight: 800;
  line-height: 12px;
}
.categories__container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 183px;
  margin-top: 60px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
.categories__header {
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  color: var(--color-text-default-main);
  font-family: Philosopher, sans-serif;
  text-align: center;

  @media (min-width: 992px) {
    font-size: 48px;
  }
}
.categories__container-sections {
  margin-top: 150px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 1187px) {
    width: 65%;
    margin: 0 auto;
  }
}

.categories__section {
  margin-top: 60px;
}
.categories__section-header {
  font-size: 24px;
  color: rgba(239, 238, 236, 0.76);
  font-family: Philosopher, sans-serif;
  font-weight: 400;
  line-height: 39.2px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 992px) {
    font-size: 32px;
  }
}
.categories__section-pre-header {
  font-size: 24px;
  color: var(--color-text-default-main);
  font-family: Philosopher, sans-serif;
  font-weight: 400;
  line-height: 39.2px;

  @media (min-width: 768px) {
    font-size: 30px;
  }
  @media (min-width: 992px) {
    font-size: 32px;
  }
}
.categories__section-description {
  font-size: 17px;
  color: rgb(220, 220, 220);
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  line-height: 25.5px;
  text-align: center;
  margin-top: 25px;
}
.categories__section-link {
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--color-text-default-main);
  cursor: pointer;
  font-family: "Albert Sans", sans-serif;
  font-weight: 800;
  line-height: 12px;
  margin-top: 15px;
}
