.projects {
  width: 100%;
  background-image: url(../img/index-projects-background.svg);
  background-size: cover;
  padding: 90px 0;

  .projects__main-container{
    max-width: 1200px;
    margin: 0 auto;
  }
}

.projects__container-icon-company {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.projects__container-icon {
  width: 50px;
  height: 50px;
}
.projects__icon-company {
  width: 100%;
  height: 100%;
}

.projects__name-section {
  font-size: 12px;
  font-weight: 800;
  line-height: 12px;
  letter-spacing: 1.2px;
  font-family: "Albert Sans", sans-serif;
  color: rgb(132, 120, 104);
  margin-top: 20px;
}
.projects__header {
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  font-family: Philosopher, sans-serif;
  color: rgb(58, 58, 58);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 24px;
}

.projects__container-projects {
  width: 100%;
  padding: 0 24px;
  display: grid;
  gap: 40px;
  grid-template-columns: minmax(272px, 100%);

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, minmax(196px, 1fr));
    grid-template-rows: repeat(2, minmax(196px, 1fr));
    gap: 20px;
  }

  .projects__container-project {
    aspect-ratio: 1/1;
    position: relative;

    .projects__container-image-version {
      width: 100%;
      height: 100%;

      .projects__image-version {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    padding: 0 10px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .projects__container-description-project {
      position: absolute;
      width: 80%;
      height: 25%;
      bottom: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #3b3b3b;
      padding: 8px;
      text-align: center;

      @media (min-width: 480px) {
        height: 104px;
              bottom: 12%;
      }

      .projects__header-project {
        font-size: 22px;
        font-weight: 400;
        line-height: 24.2px;
        font-family: Philosopher, sans-serif;
        color: rgb(255, 255, 255);
      }
      .projects-description-project {
        font-size: 14px;
        font-weight: 500;
        font-family: "Albert Sans", sans-serif;
        line-height: 23.8px;
        color: rgba(255, 255, 255, 0.81);
      }
    }
  }
}

.projects__bottom-header {
  font-size: 28px;
  font-family: Philosopher, sans-serif;
  font-family: 400;
  line-height: 39.2px;
  color: rgb(58, 58, 58);
  text-align: center;
  padding: 0 24px;
  margin-top: 50px;
  margin-bottom: 35px;
}
.projects__discover-link {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  font-family: "Albert Sans", sans-serif;
  font-weight: 12px;
  letter-spacing: 1.2px;
  color: rgb(2, 119, 110);
  cursor: pointer;
}
