.company-indicators {
  width: 100%;
  background-color: var(--color-main-company);
  padding: 40px 24px;
  display: flex;
  flex-direction: column;

  @media (min-width: 480px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  .company-indicators__item-indicator {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @media (min-width: 480px) {
      min-width: 154px;
      min-height: fit-content;
      flex: 1;
      margin-bottom: 0;
    }

    .company-indicators__counter {
      font-size: 34px;
      font-weight: 400;
      font-family: Philosopher, sans-serif;
      line-height: 40.8px;
      color: var(--color-text-default-main);
    }
    .company-indicators__line {
      width: 41px;
      height: 2px;
      background-color: #329189;
      margin: 15px 0;

      @media (min-width: 480px) {
        min-width: 17px;
      }
    }
    .company-indicators__description {
      font-size: 17px;
      font-weight: 400;
      font-family: "Albert Sans", sans-serif;
      line-height: 25.5px;
      color: var(--color-text-type-1);
    }
  }
}
