<section class="vacancies">
  <div class="vacancies__main-container">
    <div class="vacancies__container-header-description">
      <div class="vacancies__container-header">
        <div class="vacancies__container-icon-company">
          <div class="vacancies__container-icon">
            <img
              class="vacancies__icon-company"
              src="img/logo-icon.svg"
              alt="ModCraft`s Icon"
            />
          </div>
          <span class="vacancies__name-section">VACANCIES</span>
        </div>
        <h1 class="vacancies__header">
          Let's Craft Furniture Together with Our Team
        </h1>
      </div>
      <div class="vacancies__block-description">
        <p class="vacancies__description">
          Our furniture manufacturing company is a great place to work. If you
          are in search of a rewarding career, you are the right person to join
          us. You will work in a clean and supportive environment with a range
          of work-life benefits and decent salary.
        </p>
        <a class="vacancies__link-send-cv" href="#">SEND CV</a>
      </div>
    </div>

    <div class="vacancies__main-container-accordions">
      <!-- accordion1 -->
      <div
        class="vacancies__container-accordion vacancies__container-accordion-first"
      >
        <div class="vacancies__accordion-item">
          <div
            class="vacancies__accordion-container-button vacancies__accordion1-container-button"
          >
            <div class="vacancies__accordion-item-container-header">
              <p class="vacancies__accordion-item-header">Furniture Designer</p>
              <p class="vacancies__accordion-item-description">
                Part-time, 2 years of experience
              </p>
            </div>
            <div class="vacancies__accordion-container-icon-plus">
              <div class="vacancies__accordion-icon-line-horizontal"></div>
              <div
                class="vacancies__accordion-icon-line-vertical vacancies__accordion1-icon-line-vertical"
              ></div>
            </div>
          </div>
          <div
            class="vacancies__accordion-item-container-content vacancies__accordion1-item-container-content"
          >
            <div class="vacancies__accordion-item-content">
              <p class="vacancies__accordion-item-content-small-header">
                Job Responsibilities:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Design and develop innovative furniture pieces that align with
                current trends and customer preferences; - Create detailed
                renderings and prototypes of furniture designs; - Collaborate
                with the design team to brainstorm ideas and concepts; - Stay
                updated on industry trends, materials, and production
                techniques; - Ensure designs meet quality standards and
                manufacturing feasibility.
              </p>
              <p class="vacancies__accordion-item-content-small-header">
                Experience Required:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Bachelor's degree in Industrial Design or Furniture Design; -
                Proficiency in AutoCAD, SketchUp, or SolidWorks; - Strong
                creative and conceptual skills; - 2+ years of experience.
              </p>
            </div>
          </div>
        </div>

        <div class="vacancies__accordion-item">
          <div
            class="vacancies__accordion-container-button vacancies__accordion1-container-button"
          >
            <div class="vacancies__accordion-item-container-header">
              <p class="vacancies__accordion-item-header">Sales Associate</p>
              <p class="vacancies__accordion-item-description">
                Full-time, 1 year of experience
              </p>
            </div>
            <div class="vacancies__accordion-container-icon-plus">
              <div class="vacancies__accordion-icon-line-horizontal"></div>
              <div
                class="vacancies__accordion-icon-line-vertical vacancies__accordion1-icon-line-vertical"
              ></div>
            </div>
          </div>
          <div
            class="vacancies__accordion-item-container-content vacancies__accordion1-item-container-content"
          >
            <div class="vacancies__accordion-item-content">
              <p class="vacancies__accordion-item-content-small-header">
                Job Responsibilities:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Assist clients with product selection and inquiries; -
                Maintain knowledge of current inventory, promotions, and company
                policies; - Process transactions accurately and efficiently
                using the point-of-sale system; - Assist in merchandising and
                maintaining the showroom displays; - Build and maintain
                relationships with customers.
              </p>
              <p class="vacancies__accordion-item-content-small-header">
                Experience Required:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - High school diploma or equivalent; - Previous retail sales
                experience preferred; - Excellent communication and
                interpersonal skills; - Ability to work in a fast-paced
                environment and multitask effectively.
              </p>
            </div>
          </div>
        </div>

        <div class="vacancies__accordion-item">
          <div
            class="vacancies__accordion-container-button vacancies__accordion1-container-button"
          >
            <div class="vacancies__accordion-item-container-header">
              <p class="vacancies__accordion-item-header">
                Marketing Coordinator
              </p>
              <p class="vacancies__accordion-item-description">
                Full-time, 2 years of experience
              </p>
            </div>
            <div class="vacancies__accordion-container-icon-plus">
              <div class="vacancies__accordion-icon-line-horizontal"></div>
              <div
                class="vacancies__accordion-icon-line-vertical vacancies__accordion1-icon-line-vertical"
              ></div>
            </div>
          </div>
          <div
            class="vacancies__accordion-item-container-content vacancies__accordion1-item-container-content"
          >
            <div class="vacancies__accordion-item-content">
              <p class="vacancies__accordion-item-content-small-header">
                Job Responsibilities:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Develop and implement marketing strategies to promote products
                and increase brand awareness; - Create engaging content for
                social media platforms, website, and email campaigns; -
                Coordinate photo shoots and product launches; - Analyze market
                trends and consumer behavior to identify opportunities for
                growth; - Collaborate with graphic designers and copywriters to
                produce marketing materials.
              </p>
              <p class="vacancies__accordion-item-content-small-header">
                Experience Required:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Bachelor's degree in Marketing, Communications, or related
                field; - Proficiency in social media management tools; - Strong
                writing and editing skills; - Previous experience in marketing
                or advertising preferred.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- accordion2 -->
      <div class="vacancies__container-accordion">
        <div class="vacancies__accordion-item">
          <div
            class="vacancies__accordion-container-button vacancies__accordion2-container-button"
          >
            <div class="vacancies__accordion-item-container-header">
              <p class="vacancies__accordion-item-header">Production Manager</p>
              <p class="vacancies__accordion-item-description">
                Full-time, 1 year of experience
              </p>
            </div>
            <div class="vacancies__accordion-container-icon-plus">
              <div class="vacancies__accordion-icon-line-horizontal"></div>
              <div
                class="vacancies__accordion-icon-line-vertical vacancies__accordion2-icon-line-vertical"
              ></div>
            </div>
          </div>
          <div
            class="vacancies__accordion-item-container-content vacancies__accordion2-item-container-content"
          >
            <div class="vacancies__accordion-item-content">
              <p class="vacancies__accordion-item-content-small-header">
                Job Responsibilities:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                -Oversee the production process from design concept to final
                product delivery; - Coordinate with suppliers and manufacturers
                to ensure timely production and delivery of furniture pieces; -
                Monitor quality control standards and implement corrective
                actions; - Manage production schedules and optimize workflow
                efficiency; - Train and supervise production staff to ensure
                adherence to safety and quality protocols.
              </p>
              <p class="vacancies__accordion-item-content-small-header">
                Experience Required:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Bachelor's degree in Industrial Engineering, Operations
                Management, or related field; -Previous experience in production
                management within the furniture or manufacturing industry; -
                Strong organizational and leadership skills; - Knowledge of lean
                manufacturing principles is a plus.
              </p>
            </div>
          </div>
        </div>

        <div class="vacancies__accordion-item">
          <div
            class="vacancies__accordion-container-button vacancies__accordion2-container-button"
          >
            <div class="vacancies__accordion-item-container-header">
              <p class="vacancies__accordion-item-header">
                Furniture Assembler
              </p>
              <p class="vacancies__accordion-item-description">
                Part-time, 1 year of experience
              </p>
            </div>
            <div class="vacancies__accordion-container-icon-plus">
              <div class="vacancies__accordion-icon-line-horizontal"></div>
              <div
                class="vacancies__accordion-icon-line-vertical vacancies__accordion2-icon-line-vertical"
              ></div>
            </div>
          </div>
          <div
            class="vacancies__accordion-item-container-content vacancies__accordion2-item-container-content"
          >
            <div class="vacancies__accordion-item-content">
              <p class="vacancies__accordion-item-content-small-header">
                Job Responsibilities:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Commitment to our safety practices, promote awareness, and
                maintaining a safe working environment; - Attention to details;
                - Ability to inspect and assemble large and small furniture
                items; - Ability to fix mechanical and structural repairs.
              </p>
              <p class="vacancies__accordion-item-content-small-header">
                Experience Required:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Minimum 1-year experience; - Ability to work with hand tools;
                - High School Diploma is a plus.
              </p>
            </div>
          </div>
        </div>

        <div class="vacancies__accordion-item">
          <div
            class="vacancies__accordion-container-button vacancies__accordion2-container-button"
          >
            <div class="vacancies__accordion-item-container-header">
              <p class="vacancies__accordion-item-header">Interior Designer</p>
              <p class="vacancies__accordion-item-description">
                Full-time, 1 year of experience
              </p>
            </div>
            <div class="vacancies__accordion-container-icon-plus">
              <div class="vacancies__accordion-icon-line-horizontal"></div>
              <div
                class="vacancies__accordion-icon-line-vertical vacancies__accordion2-icon-line-vertical"
              ></div>
            </div>
          </div>
          <div
            class="vacancies__accordion-item-container-content vacancies__accordion2-item-container-content"
          >
            <div class="vacancies__accordion-item-content">
              <p class="vacancies__accordion-item-content-small-header">
                Job Responsibilities:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Provide interior design consultation services to clients,
                including space planning, furniture selection, and color
                coordination; - Develop conceptual design proposals and present
                them to clients; - Create mood boards, floor plans, and 3D
                renderings to visualize design concepts; - Source and specify
                furniture, fixtures, and materials for residential and
                commercial projects.
              </p>
              <p class="vvacancies__accordion-item-content-small-header">
                Experience Required:
              </p>
              <p class="vacancies__accordion-item-content-small-description">
                - Bachelor's degree in Interior Design or related field; -
                Proficiency in design software such as AutoCAD, Revit, or
                SketchUp; -Strong knowledge of design principles and space
                planning; - Previous experience in interior design or a related
                field preferred.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
