<section class="about-n-s-parallax">
  <div class="about-n-s-parallax__container-description">
    <div class="about-n-s-parallax__main-description">
      <h1 class="about-n-s-parallax__header">
        Take the Next Step Towards Transforming Your Space with Our Exquisite
        Collections
      </h1>
      <p class="about-n-s-parallax__description">
        Get a full list of items for sale with customization options and
        transparent prices.
      </p>
      <a class="about-n-s-parallax__link-download-pdf" href="#">Download PDF</a>
    </div>
  </div>
</section>
