<div>
    <div>
        <section>
            <div>
                <div>
                    <img width="20" height="24" src="/img/index/logo-icon.svg" alt="">
                </div>
                <span>About us</span>
            </div>
            <h1>Transform Your Space Into a Haven of Comfort</h1>
            <p>We are a leading furniture manufacturer known worldwide for the highest quality and exceptional customer
                service. We value our dedicated employees committed to design and build the best-in-class furniture for
                our clients at reasonable prices.</p>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="545px" height="31" style="width:100%">
                    <path d="M0 15.5 L545 15.5" style="fill:none;stroke:rgba(34, 34, 34, 0.12);stroke-width:1px"></path>
                </svg>
            </div>
            <div>
                <div>
                    <img width="70" height="70" src="/about/img/icon-online-offline-stores.svg" alt="">
                </div>
                <section>
                    <h2>Online and Offline Stores</h2>
                    <p>You can buy ModCraft furniture right on this website or at offline outlets worldwide.</p>
                </section>
            </div>
        </section>
        <div>
            <div>
                <img width="545" height="508" src="/about/img/about-about-us.png" alt="">
            </div>
        </div>
    </div>
    <div>
        <div>
            <img width="545" height="594" src="/about/img/mission.webp" alt="">
        </div>
        <div>
            <div>
                <div>
                    <img width="20" height="24" src="/img/index/logo-icon.svg" alt="">
                </div>
                <span>Mission</span>
            </div>
            <h1>Crafting Furniture to Inspire Your Every Day</h1>
            <p>We are a family-owned company that creates impeccable furniture items for homes and offices of our
                clients.</p>
            <div>
                <div>
                    <button>What We Do +</button>
                    <div>
                        <p>We build and sale furniture of different kinds, including sofas, tables, shelves, beds, etc.
                            Also, we create design projects from scratch and collaborate with other design agencies for
                            individual requests.</p>
                    </div>
                </div>

                <div>
                    <button>Our Mission +</button>
                    <div>
                        <p>At ModCraft, our mission is to elevate interior design experiences by offering high-quality,
                            innovative furniture solutions, and unparalleled design services. We strive to inspire
                            creativity and transform spaces into personalized havens that reflect our clients' unique
                            lifestyles and personalities.</p>
                    </div>
                </div>

                <div>
                    <button>Our Vision +</button>
                    <div>
                        <p> We envision a world where every space is a manifestation of individuality and creativity,
                            where functional elegance meets timeless style. By continuously exploring emerging trends
                            and collaborating with talented designers, we aspire to set new standards of innovation and
                            sophistication in the design industry. </p>
                    </div>
                </div>
            </div>
            <a href="#">See Our Works</a>
        </div>
    </div>
</div>