<div class="a-m">
  <div class="a-m__main-container">
    <div class="a-m__about-us-container">
      <section class="a-m__about-us-container-description">
        <div class="a-m__about-us-container-icon-company">
          <div class="a-m__about-us-container-icon">
            <img
              class="a-m__about-us-icon"
              src="img/logo-icon.svg"
              alt="ModCraft`s Icon"
            />
          </div>
          <span class="a-m__about-us-name-section">About us</span>
        </div>
        <h1 class="a-m__about-us-header">
          Transform Your Space Into a Haven of Comfort
        </h1>
        <p class="a-m__about-us-description">
          We are a leading furniture manufacturer known worldwide for the
          highest quality and exceptional customer service. We value our
          dedicated employees committed to design and build the best-in-class
          furniture for our clients at reasonable prices.
        </p>
        <div class="a-m__about-us-line"></div>
        <div class="a-m__about-us-container-stores">
          <div class="a-m__about-us-container-logo-stores">
            <img
              class="a-m__about-us-logo-stores"
              src="about/img/about-about-us-icon-online-offline-store.svg"
              alt="Online and Offline Stores Logo"
            />
          </div>
          <section class="a-m__about-us-container-header-stores">
            <h2 class="a-m__about-us-header-stores">
              Online and Offline Stores
            </h2>
            <p class="a-m__about-us-description-stores">
              You can buy ModCraft furniture right on this website or at offline
              outlets worldwide.
            </p>
          </section>
        </div>
      </section>
      <div class="a-m__about-us-container-image">
        <img
          class="a-m__about-us-image"
          src="about/img/about-about-us-photo.webp"
          alt="Haven of Comfort"
        />
      </div>
    </div>
    <div class="a-m__mission-container">
      <div class="a-m__mission-container-image">
        <img
          class="a-m__mission-image"
          src="about/img/about-mission-photo.webp"
          alt="Furniture to Inspire Your Every Day"
        />
      </div>
      <div class="a-m__mission-container-description">
        <div class="a-m__mission-container-icon-company">
          <div class="a-m__mission-container-icon">
            <img
              class="a-m__mission-icon"
              src="img/logo-icon.svg"
              alt="ModCraft`s Icon"
            />
          </div>
          <span class="a-m__mission-name-section">MISSION</span>
        </div>
        <h1 class="a-m__mission-header">
          Crafting Furniture to Inspire Your Every Day
        </h1>
        <p class="a-m__mission-description">
          We are a family-owned company that creates impeccable furniture items
          for homes and offices of our clients.
        </p>
        <div class="a-m__accordion">

          <div class="a-m__accordion-item">
            <div class="a-m__accordion-container-button">
              <p class="a-m__accordion-item-header">What We Do</p>
              <div class="a-m__accordion-container-icon-plus">
                <div class="a-m__accordion-icon-line-horizontal"></div>
                <div class="a-m__accordion-icon-line-vertical"></div>
              </div>
            </div>
            <div class="a-m__accordion-item-container-content">
              <p class="a-m__accordion-item-content">
                We build and sale furniture of different kinds, including sofas,
                tables, shelves, beds, etc. Also, we create design projects from
                scratch and collaborate with other design agencies for
                individual requests.
              </p>
            </div>
          </div>

          <div class="a-m__accordion-item">
            <div class="a-m__accordion-container-button">
              <p class="a-m__accordion-item-header">Our Mission</p>
              <div class="a-m__accordion-container-icon-plus">
                <div class="a-m__accordion-icon-plus-left"></div>
                <div class="a-m__accordion-icon-plus-right"></div>
              </div>
            </div>
            <div class="a-m__accordion-item-container-content">
              <p class="a-m__accordion-item-content">
                At ModCraft, our mission is to elevate interior design
                experiences by offering high-quality, innovative furniture
                solutions, and unparalleled design services. We strive to
                inspire creativity and transform spaces into personalized havens
                that reflect our clients' unique lifestyles and personalities.
              </p>
            </div>
          </div>
          <div class="a-m__accordion-item">
            <div class="a-m__accordion-container-button">
              <p class="a-m__accordion-item-header">Our Vision</p>
              <div class="a-m__accordion-container-icon-plus">
                <div class="a-m__accordion-icon-plus-left"></div>
                <div class="a-m__accordion-icon-plus-right"></div>
              </div>
            </div>
            <div class="a-m__accordion-item-container-content">
              <p class="a-m__accordion-item-content">
                We envision a world where every space is a manifestation of
                individuality and creativity, where functional elegance meets
                timeless style. By continuously exploring emerging trends and
                collaborating with talented designers, we aspire to set new
                standards of innovation and sophistication in the design
                industry.
              </p>
            </div>
          </div>
        </div>
        <a class="a-m__link-see-our-works" href="#">See Our Works</a>
      </div>
    </div>
  </div>
</div>
