@import "../../css/global.css";
@import "../../css/global.header-nav.css";
@import "../../css/global.footer.css";

.main {
  margin-top: 103px;

  @media (min-width: 769px) {
    margin-top: 0;
  }

  .main__container-description-header {
    width: 100%;
    height: 210px;
    background-color: #0f7e75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main__description-header {
      font-size: 34px;
      font-weight: 400;
      font-style: Philosopher, sans-serif;
      line-height: 40.8px;
      color: rgb(255, 255, 255);
      text-align: center;
      margin-bottom: 30px;
    }
    .main__nav-header {
      font-size: 14px;
      font-weight: 500;
      font-family: "Albert Sans", sans-serif;
      line-height: 23.8px;
      color: rgb(255, 255, 255);
      text-align: center;
    }
  }
}
