@import "../../css/global.css";
@import "../../css/global.header-nav.css";
@import "../../css/global.footer.css";

.main {
  margin-top: 103px;

  @media (min-width: 769px) {
    margin-top: 0;
  }

  .main__container-description-header {
    width: 100%;
    height: 210px;
    background-color: var(--color-main-company);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main__description-header {
      font-size: 34px;
      font-weight: 400;
      font-style: Philosopher, sans-serif;
      line-height: 40.8px;
      color: var(--color-text-default-main);
      text-align: center;
      margin-bottom: 30px;

      @media (min-width: 768px) {
        font-size: 41px;
      }
      @media (min-width: 992px) {
        font-size: 48px;
      }
    }
    .main__nav-header {
      font-size: 14px;
      font-weight: 500;
      font-family: "Albert Sans", sans-serif;
      line-height: 23.8px;
      color: var(--color-text-default-main);
      text-align: center;
    }
  }

  .main__container-contacts {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      height: auto;
    }

    .main__map-contacts {
      width: 100%;
      min-height: 192px;
      max-height: 460px;
      aspect-ratio: 1/0.5;

      @media (min-width: 768px) {
        width: 50%;
        max-height: 100%;
      }
    }
    .main__form-contacts {
      background-color: var(--color-background-main);

      @media (min-width: 768px) {
        width: 50%;
      }

      .main__container-form-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 30px;

        @media (min-width: 1260px) {
          max-width: 570px;
          margin: 0 auto;
        }

        .main__container-icon-company {
          display: flex;
          flex-direction: column;
          width: fit-content;
          align-items: center;
          justify-content: center;
          margin: 30px 0;

          .main__container-icon {
            width: 50px;
            height: 50px;

            .main__icon-company {
              width: 100%;
              height: 100%;
            }
          }
          .main__name-section {
            font-size: 12px;
            font-weight: 800;
            font-family: "Albert Sans", sans-serif;
            font-weight: 12px;
            letter-spacing: 1.2px;
            color: var(--color-text-default-nav-section-headers);
            margin-top: 10px;
          }
        }
        .main__header {
          font-size: 34px;
          font-weight: 400px;
          font-family: Philosopher, sans-serif;
          line-height: 40.8px;
          color: var(--color-text-default-main);
          text-align: center;

          @media (min-width: 768px) {
            font-size: 41px;
            line-height: 49.2px;
          }
          @media (min-width: 992px) {
            font-size: 48px;
            line-height: 57.6px;
          }
        }
        .main__description {
          font-size: 17px;
          font-weight: 400;
          font-family: "Albert Sans", sans-serif;
          line-height: 25.5px;
          color: var(--color-text-type-2);
          margin: 20px 0 40px 0;
          text-align: center;
        }
        .main__contacts-form {
          width: 100%;

          .main__form-input {
            width: 100%;
            height: 40px;
            border: 0;
            border-radius: 20px;
            background-color: var(--color-background-type-1);
            color: var(--color-text-default-main);
            padding: 11px 22px;
            font-size: 15px;
            font-weight: 400;
            font-family: "Albert Sans", sans-serif;
            line-height: 18px;
            margin-bottom: 20px;
          }
          .main__form-input::placeholder {
            color: var(--color-text-placeholder-input-form);
          }
          .main__form-input-message {
            width: 100%;
            height: 150px;
            border: 0;
            border-radius: 20px;
            background-color: var(--color-background-type-1);
            color: var(--color-text-default-main);
            padding: 11px 22px;
            font-size: 15px;
            font-weight: 400;
            font-family: "Albert Sans", sans-serif;
            line-height: 18px;
          }
          .main__form-input-message::placeholder {
            color: var(--color-text-placeholder-input-form);
          }
          .main__form-button {
            width: 100%;
            height: 39px;
            border: 0;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 700;
            font-family: "Albert Sans", sans-serif;
            line-height: 16.8px;
            color: var(--color-text-default-main);
            background-color: var(--color-main-company);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px 0 80px 0;
          }
        }
      }
    }
  }
  /* block-buttom2 */
  .main__faq {
    width: 100%;
    background-image: url(../img/faq-background.svg);
    padding: 90px 0;

    .main__faq-main-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 24px;
      display: flex;
      flex-direction: column;

      .main__faq-container-header-description {
        width: 100%;

        @media (min-width: 768px) {
          display: flex;
        }

        .main__faq-container-header {
          width: 100%;
          display: flex;
          flex-direction: column;

          @media (min-width: 768px) {
            flex: 1;
          }

          .main__container-icon-company {
            display: flex;
            width: fit-content;

            .main__container-icon {
              width: 20px;
              height: 24px;

              .main__icon-company {
                width: 100%;
                height: 100%;
              }
            }
            .main__name-section {
              font-size: 12px;
              font-weight: 800;
              font-family: "Albert Sans", sans-serif;
              line-height: 24px;
              letter-spacing: 1.2px;
              color: var(--color-text-main-description);
              margin-left: 10px;
            }
          }
          .main__header-know-more {
            font-size: 34px;
            font-weight: 400;
            font-family: Philosopher, sans-serif;
            line-height: 40.8px;
            color: var(--color-text-small-headers-in-sections);
            margin: 30px 0 50px 0;

            @media (min-width: 768px) {
              font-size: 41px;
            }
            @media (min-width: 992px) {
              font-size: 48px;
            }
          }
        }
        .main__faq-description {
          font-size: 17px;
          font-weight: 400;
          font-family: "Albert Sans", sans-serif;
          line-height: 25.5px;
          color: var(--color-text-main-description);
          margin-bottom: 70px;

          @media (min-width: 768px) {
            flex: 1;
          }
          @media (min-width: 1022px) {
            margin-top: 30px;
          }
        }
      }

      .menu__container-faq-questions {
        display: grid;

        grid-template-columns: repeat(1, minmax(272px, 1fr));
        grid-template-rows: repeat(6, minmax(208px, 1fr));
        row-gap: 25px;

        @media (min-width: 480px) {
          grid-template-columns: repeat(2, minmax(201px, 1fr));
          grid-template-rows: repeat(3, minmax(191px, 1fr));
          column-gap: 20px;
        }
        @media (min-width: 992px) {
          grid-template-columns: repeat(3, minmax(223px, 1fr));
          grid-template-rows: repeat(2, minmax(259px, 1fr));
          grid-gap: 25px;
        }

        .menu__faq-questions-item {
          background-color: var(--color-background-type-2);
          padding: 24px;

          .menu__faq-questions-item-header {
            font-size: 22px;
            font-weight: 400;
            font-family: Philosopher, sans-serif;
            line-height: 24.2px;
            color: var(--color-text-small-headers-in-sections);

            @media (min-width: 768px) {
              font-size: 24px;
              line-height: 26.4px;
            }
            @media (min-width: 992px) {
              font-size: 26px;
              line-height: 28.6px;
            }
          }
          .menu__faq-questions-item-description {
            font-size: 17px;
            font-weight: 400;
            font-family: "Albert Sans", sans-serif;
            line-height: 25.5px;
            color: var(--color-text-main-description);
            margin-top: 20px;
          }
        }
      }
    }
  }
}
