<section>
    <h1>Creating Furniture, Crafting Memories</h1>
    <p>Welcome to the design agency and store of attractive, cozy, and ergonomic furniture for your dream home.</p>
    <a href="#">Shop Now</a>
    <div>
        <div>
            <img width="50" height="50" src="index/img/index-hero-icon-ergonomics.svg" alt="Ergonomics Logo">
        </div>
        <div>
            <img width="50" height="50" src="index/img/index-hero-icon-sustainability.svg" alt="Sustainability Logo">
        </div>
        <div>
            <img width="50" height="50" src="index/img/index-hero-icon-versatility.svg" alt="Versatility Logo">
        </div>
    </div>
</section>