<div class="categories">
  <div class="categories__main-container">
    <section class="categories__container-header">
      <div class="categories__container-image">
        <img
          class="categories__icon-company"
          src="img/logo-icon.svg"
          alt="ModCraft`s Icon"
        />
      </div>
      <p class="categories__name-section">CATEGORIES</p>
      <h1 class="categories__header">Your Space, Our Expertise</h1>
    </section>
    <div class="categories__container-sections">
      <section class="categories__section">
        <h2 class="categories__section-header">
          <span class="categories__section-pre-header">Bedroom</span> Furniture
        </h2>
        <p class="categories__section-description">
          We offer custom-made wooden bedroom furniture which adds more
          tranquility and comfort.
        </p>
        <a class="categories__section-link" href="#">Shop</a>
      </section>
      <section class="categories__section">
        <h2 class="categories__section-header">
          <span class="categories__section-pre-header">Living Room</span> Furniture
        </h2>
        <p class="categories__section-description">
          Handcrafted living room furniture made of wood will give your room
          more style and harmony.
        </p>
        <a class="categories__section-link" href="#">Shop</a>
      </section>
      <section class="categories__section">
        <h2 class="categories__section-header">
          <span class="categories__section-pre-header">Home Office</span> Furniture
        </h2>
        <p class="categories__section-description">
          Well-organized home office workplace designed especially for you will
          make you more productive.
        </p>
        <a class="categories__section-link" href="#">Shop</a>
      </section>
    </div>
  </div>
</div>
