<div class="partners">
  <section class="partners__container-description">
    <div class="partners__container-icon">
      <div class="partners__container-icon-company">
        <img class="partners__icon" width="20" height="24" src="img/logo-icon.svg" alt="ModCraft`s Icon" />
      </div>
      <span class="partners__name-section">Partners</span>
    </div>
    <h1 class="partners-header">20+ Partners for Furniture Innovation</h1>
    <p class="partners-description">
      We cooperate with the best manufacturers to achieve the highest quality of
      all products. Our partner network includes dozens of premium brands around
      the world.
    </p>
    <div class="partners-containers-partner`s-companies">
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-1.webp"
          alt="Company M Logo"
        />
      </a>
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-2.webp"
          alt="Company Oakland Logo"
        />
      </a>
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-3.webp"
          alt="Company Primetime Logo"
        />
      </a>
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-4.webp"
          alt="Company Brunswick Logo"
        />
      </a>
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-5.webp"
          alt="Company Premium Express Logo"
        />
      </a>
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-6.webp"
          alt="Company Climb the mountain Logo"
        />
      </a>
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-7.webp"
          alt="Company Teakwood Logo"
        />
      </a>
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-8.webp"
          alt="Company Milanese Fashion Logo"
        />
      </a>
      <a class="partners-link-partner-company" href="#">
        <img
          class="partners-logo-company"
          width="127"
          height="76"
          src="index/img/index-partners-logo-company-9.webp"
          alt="Company Allexa Interiors Logo"
        />
      </a>
    </div>
  </section>
  <div class="partners-container-image-furniture-innovation">
    <img class="partners-image-furniture-innovation" width="620" height="544" src="index/img/index-partners-partners.webp" alt="Quality of all products" />
  </div>
</div>
