<div>
    <section>
        <div>
            <div>
                <img width="20" height="24" src="img/logo-icon.svg" alt="">
            </div>
            <span>latest news</span>
        </div>
        <h1>Explore This Section for Insightful Articles, Design Tips, and Updates</h1>
        <div>
            <div>
                <div>
                    <img width="555" height="331" src="index/img/index-latest-news-1.webp" alt="">
                </div>
                <p>Tips | 21 September 2023</p>
                <p>Textures Make the Difference</p>
                <a href="#">Read More</a>
            </div>
            <div>
                <div>
                    <img width="555" height="562" src="index/img/index-latest-news-2.webp" alt="">
                </div>
                <p>News | 12 April 2024</p>
                <p>New Furniture Collection Release, Summer 2024</p>
                <a href="#">Read More</a>
            </div>
            <div>
                <div>
                    <img width="555" height="466" src="index/img/index-latest-news-3.webp" alt="">
                </div>
                <p>Tips | 16 January 2024</p>
                <p>Top Accessories for a Living Room</p>
                <a href="#">Read More</a>
            </div>
            <div>
                <div>
                    <img width="555" height="356" src="index/img/index-latest-news-4.webp" alt="">
                </div>
                <p>Guide | 05 Mar 2024</p>
                <p>Two Main Sofa Styles in 2024</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </section>
</div>