<div>
  <div>
    <div>
      <div>
        <div>
          <img width="20" height="24" src="img/logo-icon.svg" alt="ModCraft`s Icon" />
        </div>
        <span>WHAT WE OFFER</span>
      </div>
      <h1>Crafting Comfort, Building Dreams for Customers</h1>
    </div>
    <div>
      <p>
        We offer the highest quality wholesale furniture for real estate
        developers, furniture stores, interior designers, online retailers, and
        individuals who seek for stylish and comfortable furniture.
      </p>
      <a style="font-size: 22px; font-weight: 500; color: red;" href="../../shop.html">Shop</a>
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="3000px"
    height="31"
    style="width: 100%"
  >
    <path
      d="M0 15.5 L3000 15.5"
      style="fill: none; stroke: rgba(43, 43, 43, 0.09); stroke-width: 1px"
    ></path>
  </svg>
  <div>
    <div>
      <img width="555" height="375" src="index/img/index-what-we-offer-photo.webp" alt="Highest quality furniture" />
    </div>
    <div>
      <div>
        <div>
          <img
            width="48"
            height="50"
            src="index/img/index-what-we-offer-wide-range.svg"
            alt="Wide Range Logo"
          />
        </div>
        <h2>Wide Range</h2>
        <p>We offer a wide range of mid-level to high-end furnishings.</p>
      </div>
      <div>
        <div>
          <img
            width="50"
            height="50"
            src="index/img/index-what-we-offer-vast-catalog.svg"
            alt="Vast Catalog Logo"
          />
        </div>
        <h2>Vast Catalog</h2>
        <p>We constantly update the catalog of products we offer.</p>
      </div>
      <div>
        <div>
          <img
            width="50"
            height="50"
            src="index/img/index-what-we-offer-customer-service.svg"
            alt="Customer Service Logo"
          />
        </div>
        <h2>Customer Service</h2>
        <p>Impeccable customer service and smooth ordering process.</p>
      </div>
      <div>
        <div>
          <img
            width="50"
            height="50"
            src="index/img/index-what-we-offer-shipping.svg"
            alt="Shipping Logo"
          />
        </div>
        <h2>Shipping</h2>
        <p>Complimentary worldwide shipping on orders over $1,000.</p>
      </div>
    </div>
  </div>
  <!-- slider -->
  <div>
    <div>
      <ul>
        <li>
          <div>
            <img
              width="170"
              height="170"
              src="index/img/index-what-we-offer-slider-lapki.svg"
              alt="Quotation mark"
            />
          </div>
          <div>
            <p>
              "Thank you very much for a great experience working with your
              furniture manufacturing company! We were extremely happy to find a
              retailer who really shares our interests and values. The furniture
              is excellent!"
            </p>
            <p>- Kate Holmes</p>
          </div>
        </li>
        <li>
          <div>
            <img
              width="170"
              height="170"
              src="index/img/index-what-we-offer-slider-lapki.svg"
              alt="Quotation mark"
            />
          </div>
          <div>
            <p>
              "ModCraft has truly transformed our living space with their
              impeccable design furniture and expert services. The team was
              incredibly knowledgeable and attentive, guiding us through every
              step of the design process."
            </p>
            <p>- Elisa Wilson</p>
          </div>
        </li>
        <li>
          <div>
            <img
              width="170"
              height="170"
              src="index/img/index-what-we-offer-slider-lapki.svg"
              alt="Quotation mark"
            />
          </div>
          <div>
            <p>
              "ModCraft is more than just a furniture shop; they are a design
              agency that exceeds expectations. As a couple looking to revamp
              our home, we turned to ModCraft for their expertise, and they
              delivered beyond our wildest dreams."
            </p>
            <p>- Jane & Jack Erson</p>
          </div>
        </li>
      </ul>
      <div><</div>
      <div>></div>
      <div>
        <div>dot-1</div>
        <div>dot-2</div>
        <div>dot-3</div>
      </div>
    </div>
  </div>
</div>
