 <!-- repeat li -->
<div>
    <div>
        <ul>
            <li>
                <img width="165" height="159" src="index/img/index-slider-above-footer-1.webp" alt="" />
            </li>
            <li>
                <img width="165" height="159" src="index/img/index-slider-above-footer-2.webp" alt="" />
            </li>
            <li>
                <img width="165" height="159" src="index/img/index-slider-above-footer-3.webp" alt="" />
            </li>
            <li>
                <img width="165" height="159" src="index/img/index-slider-above-footer-4.webp" alt="" />
            </li>
            <li>
                <img width="165" height="159" src="index/img/index-slider-above-footer-5.webp" alt="" />
            </li>
            <li>
                <img width="165" height="159" src="index/img/index-slider-above-footer-6.webp" alt="" />
            </li>
            <li>
                <img width="165" height="159" src="index/img/index-slider-above-footer-7.webp" alt="" />
            </li>
        </ul>
    </div>
    <div>
        <div>
            << /div>
                <div>></div>
        </div>
    </div>
</div>