<div id="featured-products" class="featured-products">
  <div class="featured-products__main-container">
    <section class="featured-products__container-header">
      <div class="featured-products__container-icon-company">
        <img
          class="featured-products__icon"
          src="img/logo-icon.svg"
          alt="ModCraft`s Icon"
        />
      </div>
      <p class="featured-products____name-section">FEATURED PRODUCTS</p>
      <h1 class="featured-products__header">Innovate. Design. Furnish.</h1>
    </section>
    <div class="featured-products__container-products">
      <!-- <div class="featured-products__container-product">
        <a class="featured-products__link-company" href="#">
          <p class="featured-products__version">Limited</p>
          <div class="featured-products__container-image-product">
            <img
              class="featured-products__image-product"
              src="index/img/index-featured-products-upi-bedside-table.jpeg"
              alt="Upi Bedside Table"
            />
          </div>
          <p class="featured-products__header-version">Upi Bedside Table</p>
        </a>
        <p class="featured-products__price">$110,00USD</p>
        <button class="featured-products__button-buy">Buy Now</button>
      </div>
      <div class="featured-products__container-product">
        <a class="featured-products__link-company" href="#">
          <div class="featured-products__container-image-product">
            <img
              class="featured-products__image-product"
              width="350"
              height="350"
              src="index/img/index-featured-products-angela-sofa.jpeg"
              alt="Angela Sofa"
            />
          </div>
          <p class="featured-products__header-version">Angela Sofa</p>
        </a>
        <p class="featured-products__price">$330,00USD</p>
        <button class="featured-products__button-buy">Buy Now</button>
      </div>
      <div class="featured-products__container-product">
        <a class="featured-products__link-company" href="#">
          <p class="featured-products__version">Sale</p>
          <div class="featured-products__container-image-product">
            <img
              class="featured-products__image-product"
              width="350"
              height="350"
              src="index/img/index-featured-products-george-sofa.jpeg"
              alt="George Sofa"
            />
          </div>
          <p class="featured-products__header-version">George Sofa</p>
        </a>
        <div class="featured-products__old-price-price">
          <s class="featured-products__old-price">$310,00USD</s>
          <p class="featured-products__price">$100,00USD</p>
        </div>
        <button class="featured-products__button-buy">Buy Now</button>
      </div>
      <div class="featured-products__container-product">
        <a class="featured-products__link-company" href="#">
          <div class="featured-products__container-image-product">
            <img
              class="featured-products__image-product"
              width="350"
              height="350"
              src="index/img/index-featured-products-fusion-dresser.jpeg"
              alt="Fusion Dresser"
            />
          </div>
          <p class="featured-products__header-version">Fusion Dresser</p>
        </a>
        <p class="featured-products__price">$320,00USD</p>
        <button class="featured-products__button-buy">Buy Now</button>
      </div>
      <div class="featured-products__container-product">
        <a class="featured-products__link-company" href="#">
          <p class="featured-products__version">Sale</p>
          <div class="featured-products__container-image-product">
            <img
              class="featured-products__image-product"
              width="350"
              height="350"
              src="index/img/index-featured-products-glory-cabinet.jpeg"
              alt="Glory Cabinet"
            />
          </div>
          <p class="featured-products__header-version">Glory Cabinet</p>
        </a>
        <div class="featured-products__old-price-price">
          <s class="featured-products__old-price">$250,00USD</s>
          <p class="featured-products__price">$140,00USD</p>
        </div>
        <button class="featured-products__button-buy">Buy Now</button>
      </div>
      <div class="featured-products__container-product">
        <a class="featured-products__link-company" href="#">
          <div class="featured-products__container-image-product">
            <img
              class="featured-products__image-product"
              width="350"
              height="350"
              src="index/img/index-featured-products-donna-bedside-table.jpeg"
              alt="Donna Bedside Table"
            />
          </div>
          <p class="featured-products__header-version">Donna Bedside Table</p>
        </a>
        <p class="featured-products__price">$150,00USD</p>
        <button class="featured-products__button-buy">Buy Now</button>
      </div> -->
    </div>
  </div>
</div>
