<section class="header-hero">
    <h1 class="header-hero__header">Creating Furniture, Crafting Memories</h1>
    <p class="header-hero-description">Welcome to the design agency and store of attractive, cozy, and ergonomic furniture for your dream home.</p>
    <a class="" href="#">Shop Now</a>
    <div class="header-hero__container-icons">
        <div class="header-hero__container-icon">
            <img class="header-hero__icon" width="50" height="50" src="index/img/index-hero-icon-ergonomics.svg" alt="Ergonomics Logo">
        </div>
        <div class="header-hero__container-icon">
            <img class="header-hero__icon" width="50" height="50" src="index/img/index-hero-icon-sustainability.svg" alt="Sustainability Logo">
        </div>
        <div class="header-hero__container-icon">
            <img class="header-hero__icon" width="50" height="50" src="index/img/index-hero-icon-versatility.svg" alt="Versatility Logo">
        </div>
    </div>
</section>