<div class="features">
    <div class="features__container-image">
        <img class="features__image" src="index/img/index-features.webp" alt="Ergonomic Elements">
    </div>
    <div class="features-container-description">
        <div class="features-container-content-description">
        <div class="features__container-icon">
            <div class="features__container-icon-company">
                <img class="features__icon-company" src="img/logo-icon.svg" alt="ModCraft`s Icon">
            </div>
            <span class="features__name-section">FEATURES</span>
        </div>
        <h1 class="features-header">Designing Tomorrow's Classics Today for You</h1>
        <p class="features-description">By incorporating both cozy and ergonomic elements into interiors, we not only enhance the aesthetic appeal of spaces but also prioritize the health and well-being of our clients, ultimately creating environments that are both visually pleasing and physically supportive.</p>
        <div class="features-container-menu">
            <ul class="features-menu">
                <li class="features-menu-item">Environmental materials</li>
                <li class="features-menu-item">Professional staff</li>
                <li class="features-menu-item">Quality assurance</li>
                <li class="features-menu-item">Unique items</li>
                <li class="features-menu-item">Design services</li>
            </ul>
            <ul class="features-menu">
                <li class="features-menu-item">Indidivual approach</li>
                <li class="features-menu-item">Promos and discounts</li>
                <li class="features-menu-item">Vast assortment</li>
                <li class="features-menu-item">Premium quality</li>
                <li class="features-menu-item">Warranty</li>
            </ul>
        </div>
        <a class="features__link-learn-more" href="#">Learn More</a>
    </div>
    </div>
</div>