<div class="lower-carousel__carousel">
  <div class="lower-carousel__content-main-container">
    <div class="lower-carousel__main-track-container">
    <div class="lower-carousel__track-container">
      <div class="lower-carousel__container-image">
        <img
          class="lower-carousel__image"
          src="index/img/index-slider-above-footer-1.webp"
          alt="Table"
        />
      </div>
      <div class="lower-carousel__container-image">
        <img
          class="lower-carousel__image"
          src="index/img/index-slider-above-footer-2.webp"
          alt="Ottoman"
        />
      </div>
      <div class="lower-carousel__container-image">
        <img
          class="lower-carousel__image"
          src="index/img/index-slider-above-footer-3.webp"
          alt="Bed"
        />
      </div>
      <div class="lower-carousel__container-image">
        <img
          class="lower-carousel__image"
          src="index/img/index-slider-above-footer-4.webp"
          alt="Sofa"
        />
      </div>
      <div class="lower-carousel__container-image">
        <img
          class="lower-carousel__image"
          src="index/img/index-slider-above-footer-5.webp"
          alt="Nightstand"
        />
      </div>
      <div class="lower-carousel__container-image">
        <img
          class="lower-carousel__image"
          src="index/img/index-slider-above-footer-6.webp"
          alt="Table by the bed"
        />
      </div>
      <div class="lower-carousel__container-image">
          <img
            class="lower-carousel__image"
            src="index/img/index-slider-above-footer-7.webp"
            alt="Pedestal table"
          />
      </div>
      <div class="lower-carousel__carousel-container-arrow-left">
        <div class="lower-carousel__carousel-arrow-left"></div>
      </div>
      <div class="lower-carousel__carousel-container-arrow-right">
        <div class="lower-carousel__carousel-arrow-right"></div>
      </div>
    </div>
  </div>
</div>
