<div>
  <section>
    <div>
      <img width="50" height="50" src="img/logo-icon.svg" alt="" />
    </div>
    <p>FEATURED PRODUCTS</p>
    <h1>Innovate. Design. Furnish.</h1>
  </section>
  <div>
    <div>
      <a href="#">
        <p>Limited</p>
        <div>
          <img
            width="350"
            height="350"
            src="index/img/index-featured-products-upi-bedside-table.jpeg"
            alt=""
          />
          <p>Upi Bedside Table</p>
        </div>
      </a>
      <p>$110,00USD</p>
      <button>Buy Now</button>
    </div>
    <div>
      <a href="#">
        <div>
          <img
            width="350"
            height="350"
            src="index/img/index-featured-products-angela-sofa.jpeg"
            alt=""
          />
          <p>Angela Sofa</p>
        </div>
      </a>
      <p>$330,00USD</p>
      <button>Buy Now</button>
    </div>
    <div>
      <a href="#">
        <p>Sale</p>
        <div>
          <img
            width="350"
            height="350"
            src="index/img/index-featured-products-george-sofa.jpeg"
            alt=""
          />
          <p>George Sofa</p>
        </div>
      </a>
      <div>
        <p>-$-3-1-0,-0-0-U-S-D-</p>
        <p>$100,00USD</p>
        <button>Buy Now</button>
      </div>
    </div>
    <div>
      <a href="#">
        <div>
          <img
            width="350"
            height="350"
            src="index/img/index-featured-products-fusion-dresser.jpeg"
            alt=""
          />
          <p>Fusion Dresser</p>
        </div>
      </a>
      <p>$320,00USD</p>
      <button>Buy Now</button>
    </div>
    <div>
      <a href="#">
        <p>Sale</p>
        <div>
          <img
            width="350"
            height="350"
            src="index/img/index-featured-products-glory-cabinet.jpeg"
            alt=""
          />
          <p>Glory Cabinet</p>
        </div>
      </a>
      <div>
        <p>-$-2-5-0-,-0-0-U-S-D-</p>
        <p>$140,00USD</p>
        <button>Buy Now</button>
      </div>
    </div>
    <div>
      <a href="#">
        <div>
          <img
            width="350"
            height="350"
            src="index/img/index-featured-products-donna-bedside-table.jpeg"
            alt=""
          />
          <p>Donna Bedside Table</p>
        </div>
      </a>
      <p>$150,00USD</p>
      <button>Buy Now</button>
    </div>
  </div>
</div>
