<div class="what-we-offer">
  <div class="what-we-offer__main-container">
    <div class="what-we-offer__container-description">
      <div class="what-we-offer__container-description-icon">
        <div class="what-we-offer__container-icon">
          <div class="what-we-offer__container-icon-company">
            <img
              class="what-we-offer__icon-company"
              src="img/logo-icon.svg"
              alt="ModCraft`s Icon"
            />
          </div>
          <span class="what-we-offer__name-section">WHAT WE OFFER</span>
        </div>
        <h1 class="what-we-offer__header">
          Crafting Comfort, Building Dreams for Customers
        </h1>
      </div>
      <div class="what-we-offer__container-description-text">
        <p class="what-we-offer__description">
          We offer the highest quality wholesale furniture for real estate
          developers, furniture stores, interior designers, online retailers,
          and individuals who seek for stylish and comfortable furniture.
        </p>
        <a class="what-we-offer__link-shop" href="shop.html">SHOP</a>
      </div>
    </div>
    <div class="what-we-offer_image-line"></div>

    <div class="what-we-offer__container-range">
      <div class="what-we-offer__container-image-highest-furniture">
        <img
          class="what-we-offer__image-highest-furniture"
          src="index/img/index-what-we-offer-photo.webp"
          alt="Highest quality furniture"
        />
      </div>
      <div class="what-we-offer__container-list-range">
        <div class="what-we-offer__item-range">
          <div class="what-we-offer__container-logo">
            <img
              class="what-we-offer__logo-image"
              src="index/img/index-what-we-offer-wide-range.svg"
              alt="Wide Range Logo"
            />
          </div>
          <h2 class="what-we-offer__header-range">Wide Range</h2>
          <p class="what-we-offer__description-range">
            We offer a wide range of mid-level to high-end furnishings.
          </p>
        </div>
        <div class="what-we-offer__item-range">
          <div class="what-we-offer__container-logo">
            <img
              class="what-we-offer__logo-image"
              src="index/img/index-what-we-offer-vast-catalog.svg"
              alt="Vast Catalog Logo"
            />
          </div>
          <h2 class="what-we-offer__header-range">Vast Catalog</h2>
          <p class="what-we-offer__description-range">
            We constantly update the catalog of products we offer.
          </p>
        </div>
        <div class="what-we-offer__item-range">
          <div class="what-we-offer__container-logo">
            <img
              class="what-we-offer__logo-image"
              src="index/img/index-what-we-offer-customer-service.svg"
              alt="Customer Service Logo"
            />
          </div>
          <h2 class="what-we-offer__header-range">Customer Service</h2>
          <p class="what-we-offer__description-range">
            Impeccable customer service and smooth ordering process.
          </p>
        </div>
        <div class="what-we-offer__item-range">
          <div class="what-we-offer__container-logo">
            <img
              class="what-we-offer__logo-image"
              src="index/img/index-what-we-offer-shipping.svg"
              alt="Shipping Logo"
            />
          </div>
          <h2 class="what-we-offer__header-range">Shipping</h2>
          <p class="what-we-offer__description-range">
            Complimentary worldwide shipping on orders over $1,000.
          </p>
        </div>
      </div>
    </div>
    <div id="what-we-offer__block-slider" class="what-we-offer__block-carousel">
      <div class="what-we-offer__track-container">
        <ul class="what-we-offer__track">
          <li class="what-we-offer__slide">
            <div class="what-we-offer__container-image-lapki">
              <img
                class="what-we-offer__image-lapki"
                src="index/img/index-what-we-offer-slider-lapki.svg"
                alt="Quotation mark"
              />
            </div>
            <div class="what-we-offer__slide-content">
              <p class="what-we-offer__slide-description">
                "Thank you very much for a great experience working with your
                furniture manufacturing company! We were extremely happy to find
                a retailer who really shares our interests and values. The
                furniture is excellent!"
              </p>
              <p class="what-we-offer__slider-author">- Kate Holmes</p>
            </div>
          </li>
          <li class="what-we-offer__slide">
            <div class="what-we-offer__container-image-lapki">
              <img
                class="what-we-offer__image-lapki"
                src="index/img/index-what-we-offer-slider-lapki.svg"
                alt="Quotation mark"
              />
            </div>
            <div class="what-we-offer__slide-content">
              <p class="what-we-offer__slide-description">
                "ModCraft has truly transformed our living space with their
                impeccable design furniture and expert services. The team was
                incredibly knowledgeable and attentive, guiding us through every
                step of the design process."
              </p>
              <p class="what-we-offer__slider-author">- Elisa Wilson</p>
            </div>
          </li>
          <li class="what-we-offer__slide">
            <div class="what-we-offer__container-image-lapki">
              <img
                class="what-we-offer__image-lapki"
                src="index/img/index-what-we-offer-slider-lapki.svg"
                alt="Quotation mark"
              />
            </div>
            <div class="what-we-offer__slide-content">
              <p class="what-we-offer__slide-description">
                "ModCraft is more than just a furniture shop; they are a design
                agency that exceeds expectations. As a couple looking to revamp
                our home, we turned to ModCraft for their expertise, and they
                delivered beyond our wildest dreams."
              </p>
              <p class="what-we-offer__slider-author">- Jane & Jack Erson</p>
            </div>
          </li>
        </ul>
        <div class="what-we-offer__slider-container-arrow-left">
          <div class="what-we-offer__slider-arrow-left"></div>
        </div>
        <div class="what-we-offer__slider-container-arrow-right">
          <div class="what-we-offer__slider-arrow-right"></div>
        </div>
        <div class="what-we-offer__slider-container-dots">
          <div class="what-we-offer__slider-dot"></div>
          <div class="what-we-offer__slider-dot"></div>
          <div class="what-we-offer__slider-dot"></div>
        </div>
      </div>
    </div>
  </div>
</div>
