<div class="categories">
  <section class="">
    <div class="categories__container-image">
      <img class="" width="50" height="50" src="img/logo-icon.svg" alt="ModCraft`s Icon" />
    </div>
    <p class="categories__name-section">CATEGORIES</p>
    <h1 class="categories__header">Your Space, Our Expertise</h1>
  </section>
  <div class="categories__container-sections">
    <section class="categories__section">
      <h2 class="categories__section-header"><span>Bedroom</span> Furniture</h2>
      <p class="categories__section-description">We offer custom-made wooden bedroom furniture which adds more tranquility and comfort.</p>
      <a class="categories__section-link" href="#">Shop</a>
    </section>
    <section class="categories__section">
      <h2 class="categories__section-header"><span>Living Room</span> Furniture</h2>
      <p class="categories__section-description">Handcrafted living room furniture made of wood will give your room more style and harmony.</p>
      <a class="categories__section-link" href="#">Shop</a>
    </section>
    <section class="categories__section">
      <h2 class="categories__section-header"><span>Home Office</span> Furniture</h2>
      <p class="categories__section-description">Well-organized home office workplace designed especially for you will make you more productive.</p>
      <a class="categories__section-link" href="#">Shop</a>
    </section>
  </div>
</div>

