<div class="company-indicators">
  <div class="company-indicators__item-indicator">
    <p class="company-indicators__counter">1,500+</p>
    <div class="company-indicators__line"></div>
    <p class="company-indicators__description">
      Items for sale in our online store and offline outlets.
    </p>
  </div>
  <div class="company-indicators__item-indicator">
    <p class="company-indicators__counter">80</p>
    <div class="company-indicators__line"></div>
    <p class="company-indicators__description">
      Online orders are processed daily by our managers.
    </p>
  </div>
  <div class="company-indicators__item-indicator">
    <p class="company-indicators__counter">350+</p>
    <div class="company-indicators__line"></div>
    <p class="company-indicators__description">
      New items are added every month to our catalogs.
    </p>
  </div>
  <div class="company-indicators__item-indicator">
    <p class="company-indicators__counter">42</p>
    <div class="company-indicators__line"></div>
    <p class="company-indicators__description">
      Employees work hard to ensure you get the best items.
    </p>
  </div>
  <div class="company-indicators__item-indicator">
    <p class="company-indicators__counter">25</p>
    <div class="company-indicators__line"></div>
    <p class="company-indicators__description">
      Design projects were presented to our clients in 2023.
    </p>
  </div>
</div>
