<div id="featured-products" class="featured-products">
  <div class="featured-products__main-container">
    <section class="featured-products__container-header">
      <div class="featured-products__container-icon-company">
        <img
          class="featured-products__icon"
          src="img/logo-icon.svg"
          alt="ModCraft`s Icon"
        />
      </div>
      <p class="featured-products____name-section">FEATURED PRODUCTS</p>
      <h1 class="featured-products__header">Innovate. Design. Furnish.</h1>
    </section>
    <div class="featured-products__container-products"></div>
  </div>
</div>
