<div id="news-articles" class="latest-news">
    <section class="latest-news__container">
        <div class="latest-news__container-icon-company">
            <div class="latest-news__container-icon">
                <img class="latest-news__icon-company" width="20" height="24" src="img/logo-icon.svg"
                    alt="ModCraft`s Icon">
            </div>
            <span class="latest-news__name-section">latest news</span>
        </div>
        <h1 class="latest-news__header">Explore This Section for Insightful Articles, Design Tips, and Updates</h1>
        <div class="latest-news__container-news-explore">
            <div class="latest-news__news-explore-1">
                <div class="latest-news__container-image-textures">
                    <img class="latest-news__image-textures" width="555" height="331"
                        src="index/img/index-latest-news-1.webp" alt="Textures Make the Difference">
                </div>
                <p class="latest-news-date">Tips | 21 September 2023</p>
                <p class="latest-news__news-description">Textures Make the Difference</p>
                <a class="latest-news__link-news" href="#">Read More</a>
            </div>
            <div class="latest-news__news-explore-2">
                <div class="latest-news__container-image-collection">
                    <img class="latest-news__image-collection" width="555" height="562"
                        src="index/img/index-latest-news-2.webp" alt="New Furniture Collection Release, Summer 2024">
                </div>
                <p class="latest-news__news-date">News | 12 April 2024</p>
                <p class="latest-news__news-description">New Furniture Collection Release, Summer 2024</p>
                <a class="latest-news__link-news" href="#">Read More</a>
            </div>
            <div class="latest-news__news-explore-3">
                <div class="latest-news__container-image-accessories">
                    <img class="latest-news__image-accessories" width="555" height="466"
                        src="index/img/index-latest-news-3.webp" alt="Top Accessories for a Living Room">
                </div>
                <p class="latest-news__news-date">Tips | 16 January 2024</p>
                <p class="latest-news__news-description">Top Accessories for a Living Room</p>
                <a class="latest-news__link-news" href="#">Read More</a>
            </div>
            <div class="latest-news__news-explore-4">
                <div class="latest-news__container-image-sofa-styles">
                    <img class="latest-news__image-sofa-styles" width="555" height="356"
                        src="index/img/index-latest-news-4.webp" alt="Two Main Sofa Styles in 2024">
                </div>
                <p class="latest-news__news-date">Guide | 05 Mar 2024</p>
                <p class="latest-news__news-description">Two Main Sofa Styles in 2024</p>
                <a class="latest-news__link-news" href="#">Read More</a>
            </div>
        </div>
    </section>
</div>