<div>
  <section>
    <div>
      <div>
        <img width="20" height="24" src="img/index/logo-icon.svg" alt="" />
      </div>
      <span>Partners</span>
    </div>
    <h1>20+ Partners for Furniture Innovation</h1>
    <p>
      We cooperate with the best manufacturers to achieve the highest quality of
      all products. Our partner network includes dozens of premium brands around
      the world.
    </p>
    <div>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company1"
          alt=""
        />
      </a>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company2"
          alt=""
        />
      </a>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company3"
          alt=""
        />
      </a>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company4"
          alt=""
        />
      </a>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company5"
          alt=""
        />
      </a>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company6"
          alt=""
        />
      </a>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company7"
          alt=""
        />
      </a>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company8"
          alt=""
        />
      </a>
      <a href="#">
        <img
          width="127"
          height="76"
          src="img/index/partners-logo-company9"
          alt=""
        />
      </a>
    </div>
  </section>
  <div>
    <img width="620" height="544" src="img/index/partners" alt="" />
  </div>
</div>
