<div class="about-us">
  <section class="about-us__container-detail">
    <div class="about-us__container-image-detail">
      <img class="about-us__image-detail" width="649" height="591" src="index/img/index-about-us-1.webp" alt="Impeccable Quality" />
    </div>
    <div class="about-us__container-detail-description">
      <div class="about-us__container-icon-company">
        <img class="about-us__icon-company" width="20" height="24" src="img/logo-icon.svg" alt="ModCraft`s Icon" />
      </div>
      <p class="about-us__name-section">About us</p>
    </div>
    <h1 class="about-us__header">Excellence in Every Detail</h1>
    <a class="about-us__link-learn-more" href="#">Learn More</a>
  </section>

  <div class="about-us__container-design">
    <div class="about-us__container-design-description">
        <div class="about-us-container-image-quotation-mark">
            <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="100%"><path d="M51.6,41.8c0-8.4,6.8-15.2,15.2-15.2c8.4,0,15.2,6.3,15.2,18C82,60.8,69.9,72,56.8,72.2c-2.2,0-3.4-1.3-3.4-3.5v-0.1  c0-2.2,0.6-3.2,1.7-3.5c3.5-0.6,10.6-2.5,12.9-8.1C57.2,57,51.6,50.1,51.6,41.8z M34.7,57c-2.3,5.6-9.4,7.5-12.9,8.1  c-1.1,0.3-1.7,1.3-1.7,3.5v0.1c0,2.2,1.2,3.5,3.4,3.5C36.6,72,48.7,60.8,48.7,44.6c0-11.7-6.8-18-15.2-18c-8.4,0-15.2,6.8-15.2,15.2  S23.8,57,34.7,57z" fill="currentColor"></path></svg>
        </div>
        <p class="about-us__header-design">"Design creates culture. Culture shapes values. Values determine the future whether the pleasure."</p>
        <p class="about-us__description-design">In today's fast-paced world, where people spend prolonged hours indoors, creating spaces that promote relaxation and support physical health is essential. This is exactly what we do with our furniture.</p>
        <div class="about-us__container-telephone">
            <span class="about-us__header-telephone">Call us</span>
            <a class="about-us-link-telephone" href="#">+1 (234) 567 89 01</a>
        </div>
    </div>
    <div class="about-us__container-image-design">
        <img class="about-us__image-design" width="649" height="421" src="index/img/index-about-us-2.webp" alt="Our Furniture">
    </div>
  </div>
</div>
