<section class="projects">
  <div class="projects__main-container">
    <div class="projects__container-icon-company">
      <div class="projects__container-icon">
        <img
          class="projects__icon-company"
          src="img/logo-icon.svg"
          alt="ModCraft`s Icon"
        />
      </div>
      <p class="projects__name-section">PROJECTS</p>
    </div>
    <h1 class="projects__header">
      Quality Craftsmanship and Timeless Elegance in Our Projects
    </h1>
    <div class="projects__container-projects">
      <div class="projects__container-project container-project-1">
        <div class="projects__container-image-version">
          <img
            class="projects__image-version"
            src="../../index/img/index-projects-kitchen.webp"
            alt="Projects kitchen"
          />
        </div>
        <section class="projects__container-description-project">
          <h2 class="projects__header-project">Kitchen</h2>
          <p class="projects-description-project">
            Production - 30 days | 30 items
          </p>
        </section>
      </div>
      <div class="projects__container-project container-project-2">
        <div class="projects__container-image-version">
          <img
            class="projects__image-version"
            src="../../index/img/index-projects-living-room-1.webp"
            alt="Living room 1"
          />
        </div>
        <section class="projects__container-description-project">
          <h2 class="projects__header-project">Living Room</h2>
          <p class="projects-description-project">
            Production - 12 days | 15 items
          </p>
        </section>
      </div>
      <div class="projects__container-project container-project-3">
        <div class="projects__container-image-version">
          <img
            class="projects__image-version"
            src="../../index/img/index-projects-living-room-2.webp"
            alt="Living room 2"
          />
        </div>
        <section class="projects__container-description-project">
          <h2 class="projects__header-project">Living Room</h2>
          <p class="projects-description-project">
            Production - 15 days | 35 items
          </p>
        </section>
      </div>
      <div class="projects__container-project container-project-4">
        <div class="projects__container-image-version">
          <img
            class="projects__image-version"
            src="../../index/img/index-projects-spa-space.webp"
            alt="Spa space"
          />
        </div>
        <section class="projects__container-description-project">
          <h2 class="projects__header-project">SPA Space</h2>
          <p class="projects-description-project">
            Production - 60 days | 80 items
          </p>
        </section>
      </div>
    </div>
    <h2 class="projects__bottom-header">
      Upgrade Your Space with Our Furniture
    </h2>
    <a class="projects__discover-link" href="#">DISCOVER NOW</a>
  </div>
</section>
