<section class="header-hero">
<div class="header-hero__container-content">
  <h1 class="header-hero__header">Creating Furniture, Crafting Memories</h1>
  <p class="header-hero-description">
    Welcome to the design agency and store of attractive, cozy, and ergonomic
    furniture for your dream home.
  </p>
  <a class="header-hero__button-shop-now" href="#">Shop Now</a>
  <div class="header-hero__container-icons">
    <div class="header-hero__item-icon">
      <div class="header-hero__container-icon">
        <img
          class="header-hero__icon"
          src="index/img/index-hero-icon-ergonomics.svg"
          alt="Ergonomics Logo"
        />
      </div>
      <p class="header-hero__icon-description">Ergonomics</p>
    </div>
    <div class="header-hero__item-icon">
      <div class="header-hero__container-icon">
        <img
          class="header-hero__icon"
          src="index/img/index-hero-icon-sustainability.svg"
          alt="Sustainability Logo"
        />
      </div>
      <p class="header-hero__icon-description">Sustainability</p>
    </div>
    <div class="header-hero__item-icon">
      <div class="header-hero__container-icon">
        <img
          class="header-hero__icon"
          src="index/img/index-hero-icon-versatility.svg"
          alt="Versatility Logo"
        />
      </div>
      <p class="header-hero__icon-description">Versatility</p>
    </div>
  </div>
</div>


</section>
