<!-- repeat li -->
<div class="lower-carousel__carousel">
    <div class="lower-carousel__track-container">
        <ul class="lower-carousel__track">
            <li class="lower-carousel__slide">
                <img class="lower-carousel__image" width="165" height="159"
                    src="index/img/index-slider-above-footer-1.webp" alt="Table" />
            </li>
            <li class="lower-carousel__slide">
                <img class="lower-carousel__image" width="165" height="159"
                    src="index/img/index-slider-above-footer-2.webp" alt="Ottoman" />
            </li>
            <li class="lower-carousel__slide">
                <img class="lower-carousel__image" width="165" height="159"
                    src="index/img/index-slider-above-footer-3.webp" alt="Bed" />
            </li>
            <li class="lower-carousel__slide">
                <img class="lower-carousel__image" width="165" height="159"
                    src="index/img/index-slider-above-footer-4.webp" alt="Sofa" />
            </li>
            <li class="lower-carousel__slide">
                <img class="lower-carousel__image" width="165" height="159"
                    src="index/img/index-slider-above-footer-5.webp" alt="Nightstand" />
            </li>
            <li class="lower-carousel__slide">
                <img class="lower-carousel__image" width="165" height="159"
                    src="index/img/index-slider-above-footer-6.webp" alt="Table by the bed" />
            </li>
            <li class="lower-carousel__slide">
                <img class="lower-carousel__image" width="165" height="159"
                    src="index/img/index-slider-above-footer-7.webp" alt="Pedestal table" />
            </li>
        </ul>
    </div>
    <div class="lower-carousel__arrow">&#60;</div>
    <div class="lower-carousel__arrow">&#62;</div>

</div>
</div>