@import "../../css/global.css";
@import "../../css/global.header-nav.css";
@import "../../css/global.footer.css";

.main {
  .main__main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 24px 90px 24px;
  }

  .main__description {
    font-size: 28px;
    font-weight: 400;
    font-family: Philosopher, sans-serif;
    line-height: 39.2px;
    color: var(--color-text-small-headers-in-sections);
    margin-bottom: 70px;
  }
  .main__header {
    font-size: 28px;
    font-weight: 400;
    font-family: Philosopher, sans-serif;
    line-height: 39.2px;
    color: var(--color-text-small-headers-in-sections);
    margin: 20px 0 40px 0;
  }

  .main__container-products {
    width: 100%;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(1, minmax(272px, 1fr));
    grid-template-rows: repeat(16, minmax(242px, 1fr));

    @media (min-width: 480px) {
      width: 100%;
      grid-template-columns: repeat(2, minmax(186px, 1fr));
      grid-template-rows: repeat(8, minmax(330px, 1fr));
      column-gap: 15px;
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(4, minmax(198px, 1fr));
      grid-template-rows: repeat(4, minmax(410px, 1fr));
      column-gap: 20px;
      row-gap: 40px;
    }

    .main__product-card {
      display: flex;
      flex-direction: column;

      .main__link-product {
        text-decoration: none;
        display: flex;
        flex-direction: column;

        .main__container-image-product {
          min-width: 242px;
          min-height: 242px;
          flex: 1;
          position: relative;

          @media (min-width: 480px) {
            min-width: 186px;
            min-height: 186px;
            flex: 1;
          }

          @media (min-width: 992px) {
            min-width: 198px;
            min-height: 198px;
            flex: 1;
          }

          .main__image-product {
            width: 100%;
            height: 100%;
          }
          .main__news-product {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 80px;
            height: 28px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            font-family: "Albert Sans", sans-serif;
            line-height: 20px;
            color: var(--color-text-default-main);
            background-color: var(--color-background-type-1);
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .main__pre-order-product {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 34px;
            background-color: var(--color-background-pre-order);
            font-size: 17px;
            font-weight: 400;
            font-family: "Albert Sans", sans-serif;
            line-height: 25.5px;
            color: var(--color-text-pre-order);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .main__header-type-product {
          font-size: 18px;
          font-weight: 400;
          font-family: "Albert Sans", sans-serif;
          line-height: 28.8px;
          color: var(--color-text-small-headers-in-sections);
          margin: 15px 0;
        }
      }
      .main__product-old-price-price {
        display: flex;
        align-items: center;
        width: fit-content;
      }
      .main__product-sale-price {
        font-size: 18px;
        font-weight: 400;
        font-family: "Albert Sans", sans-serif;
        line-height: 28.8px;
        color: var(--color-text-small-headers-in-sections);
        margin-right: 15px;
      }
      .main__product-price {
        font-size: 18px;
        font-weight: 400;
        font-family: "Albert Sans", sans-serif;
        line-height: 28.8px;
        color: var(--color-main-company);
        text-align: left;
      }
      .main__product-buy {
        display: block;
        text-decoration: none;
        width: 68px;
        height: 39px;
        font-size: 14px;
        font-weight: 400;
        font-family: "Albert Sans", sans-serif;
        line-height: 16.8px;
        color: var(--color-text-default-main);
        border: 0;
        border-radius: 20px;
        background-color: var(--color-main-company);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 30px;
      }
    }
  }
}
