.a-m {
  width: 100%;
  background-image: url(../img/about-about-us-background.svg);
  
  .a-m__main-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;


    .a-m__about-us-container{
        display: flex;
        flex-direction: column;
        padding-top: 90px;

        .a-m__about-us-container-description{
            display: flex;
            flex-direction: column;

            .a-m__about-us-container-icon-company{
                display: flex;
                align-items: center;
                width: fit-content;

                .a-m__about-us-container-icon{
                    width: 20px;
                    height: 24px;

                    .a-m__about-us-icon{
                        width: 100%;
                        height: 100%;
                    }
                }
                .a-m__about-us-name-section{
                    font-size: 12px;
                    font-weight: 800;
                    font-family: "Albert Sans", sans-serif;
                    line-height: 24px;
                    letter-spacing: 1.2px;
                    color: rgb(132, 120, 104);
                    margin-left: 10px;
                }
            }
            .a-m__about-us-header{
                font-size: 34px;
                font-weight: 400;
                font-family: Philosopher, sans-serif;
                line-height: 40.8px;
                color: rgb(58, 58, 58);
                margin: 25px 0;
            }
            .a-m__about-us-description{
                font-size: 17px;
                font-weight: 400;
                font-family: "Albert Sans", sans-serif;
                line-height: 25.5px;
                color: rgb(133, 133, 133);
            }
            .a-m__about-us-line{
                width: 100%;
                height: 1px;
                background-color: #E4E4E4;
                margin: 40px 0 25px 0;
            }
            .a-m__about-us-container-stores{
                display: flex;

                .a-m__about-us-container-logo-stores{
                    max-width: 50px;
                    max-height: 50px;

                    .a-m__about-us-logo-stores{
                        width: 100%;
                        height: 100%;
                    }
                }

                .a-m__about-us-container-header-stores{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;

                    .a-m__about-us-header-stores{
                        font-size: 22px;
                        font-weight: 400;
                        font-family: Philosopher, sans-serif;
                        line-height: 24.2px;
                        color: rgb(58, 58, 58);
                    }
                    .a-m__about-us-description-stores{
                        font-size: 17px;
                        font-weight: 400;
                        font-family: "Albert Sans", sans-serif;
                        line-height: 25.5px;
                        color: rgb(133, 133, 133);
                    }
                }

            }
        }
        .a-m__about-us-container-image{
            margin-top: 80px;
            min-width: 272px;
            min-height: 254px;
            flex: 1;

            .a-m__about-us-image{
                width: 100%;
                height: 100%;
            }
        }
    }
    /* block-mission */
    .a-m__mission-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 90px;

        .a-m__mission-container-image{
            min-width: 272px;
            min-height: 296px;
            flex: 1;

            .a-m__mission-image{
                width: 100%;
                height: 100%;
            }
        }

        .a-m__mission-container-description{
            display: flex;
            flex-direction: column;

            .a-m__mission-container-icon-company{
                margin-top: 80px;
                display: flex;
                align-items: center;
                width: fit-content;

                .a-m__mission-container-icon{
                    width: 20px;
                    height: 24px;

                    .a-m__mission-icon{
                        width: 100%;
                        height: 100%;
                    }
                }
                .a-m__mission-name-section{
                    font-size: 12px;
                    font-weight: 800;
                    font-family: "Albert Sans", sans-serif;
                    line-height: 24.2px;
                    letter-spacing: 1.2px;
                    color: rgb(132, 120, 104);
                    margin-left: 10px;
                }
            }
            .a-m__mission-header{
                font-size: 34px;
                font-weight: 400;
                font-family: Philosopher, sans-serif;
                line-height: 40.8px;
                color: rgb(58, 58, 58);
                margin: 25px 0;
            }
            .a-m__mission-description{
                font-size: 17px;
                font-weight: 400;
                font-family: "Albert Sans", sans-serif;
                line-height: 25.5px;
                color: rgb(133, 133, 133);
                margin-bottom: 25px;
            }
            /* accordion */
            .a-m__accordion{
                display: flex;
                flex-direction: column;

                .a-m__accordion-item{
                    width: 100%;
                    border-bottom: 1px solid #D5D5D5;

                    .a-m__accordion-container-button{
                        padding: 20px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .a-m__accordion-item-header{
                            font-size: 22px;
                            font-weight: 400;
                            font-family: Philosopher, sans-serif;
                            line-height: 24.2px;
                            color: rgb(58, 58, 58);
                        }
                        .a-m__accordion-container-icon-plus{
                            position: relative;
                            width: 15px;
                            height: 15px;
                            display: flex;
                            align-items: center;
                            justify-content:center;

                            .a-m__accordion-icon-line-horizontal{
                                width: 100%;
                                height: 2px;
                                background-color: #555555;
                            }
                            .a-m__accordion-icon-line-vertical{
                                position: absolute;
                                width: 2px;
                                height: 100%;
                                background-color: #555555;
                            }
                        }
                    }
                    .a-m__accordion-item-container-content{
                        height: 0;
                        overflow: hidden;
                        .a-m__accordion-item-content{
                            font-size: 17px;
                            font-weight: 400;
                            font-family: "Albert Sans", sans-serif;
                            line-height: 25.5px;
                            color: rgb(133, 133, 133);
                            padding: 20px 0;
                        }
                    }
                }
            }
            .a-m__link-see-our-works{
                display: block;
                text-decoration: none;
                width: 164px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                background-color: #02776E;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15.4px;
                font-weight: 700;
                font-family: "Albert Sans", sans-serif;
                line-height: 18.48px;
                color: rgb(255, 255, 255);
                margin-top: 30px;
            }
        }

    }
  }
}
