.about-n-s-parallax {
  width: 100%;
  max-height: 644px;
  min-height: 418px;
  padding: 140px 0;
  background: linear-gradient(var(--color-background-type-7), var(--color-background-type-7)), url(../img/about-above-footer-background.png);
  background-attachment: fixed;
  background-position-x: 53%;

  @media(min-width: 768px){
    width: 100%;
    height: 634px;
  }

  .about-n-s-parallax__container-description {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    .about-n-s-parallax__main-description {
      width: 95%;

      @media (min-width: 768px) {
        width: 60%;
        text-align: left;
      }

      .about-n-s-parallax__header {
        font-size: 34px;
        font-weight: 400;
        font-family: Philosopher, sans-serif;
        line-height: 40.8px;
        color: var(--color-text-default-main);

        @media (min-width: 768px) {
          font-size: 41px;
          line-height: 49.2px;
        }
        @media (min-width: 992px) {
            line-height: 57.6px;
          font-size: 48px;
        }
      }
      .about-n-s-parallax__description {
        font-size: 17px;
        font-weight: 400;
        font-family: "Albert Sans", sans-serif;
        line-height: 25.5px;
        color: var(--color-text-type-2);
        margin: 40px 0 30px 0;

        @media (min-width: 768px) {
          width: 60%;
          text-align: left;
        }
      }
      .about-n-s-parallax__link-download-pdf {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 161px;
        height: 50px;
        border: 0;
        border-radius: 25px;
        background-color: var(--color-main-company);
        font-size: 15.4px;
        font-weight: 700;
        font-family: "Albert Sans", sans-serif;
        line-height: 18.48px;
        color: var(--color-text-default-main);
      }
    }
  }
}
