.vacancies {
  width: 100%;
  background-image: url(../img/about-about-us-background.svg);
  background-attachment: fixed;
  padding: 90px 0;

  .vacancies__main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    .vacancies__container-header-description {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }

      .vacancies__container-header {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          flex: 0.43;
        }

        .vacancies__container-icon-company {
          display: flex;
          width: fit-content;

          .vacancies__container-icon {
            width: 20px;
            height: 24px;

            .vacancies__icon-company {
              width: 100%;
              height: 100%;
            }
          }
          .vacancies__name-section {
            font-size: 12px;
            font-weight: 800;
            font-family: "Albert Sans", sans-serif;
            line-height: 24px;
            letter-spacing: 1.2px;
            color: var(--color-text-main-nav-section-headers);
            margin-left: 10px;
          }
        }
        .vacancies__header {
          font-size: 34px;
          font-weight: 400;
          font-family: Philosopher, sans-serif;
          line-height: 40.8px;
          color: var(--color-text-small-headers-in-sections);
          margin: 20px 0 50px 0;

          @media (min-width: 768px) {
            font-size: 41px;
          }
          @media (min-width: 992px) {
            font-size: 48px;
          }
        }
      }
      .vacancies__block-description {
        @media (min-width: 768px) {
          flex: 0.5;
        }
        .vacancies__description {
          font-size: 17px;
          font-weight: 400;
          font-family: "Albert Sans", sans-serif;
          line-height: 25.5px;
          color: var(--color-text-main-description);
          margin-bottom: 20px;
        }
        .vacancies__link-send-cv {
          font-size: 12px;
          font-weight: 800;
          font-family: "Albert Sans", sans-serif;
          line-height: 12px;
          letter-spacing: 1.2px;
          color: var(--color-main-company);
          cursor: pointer;
        }
      }
    }
    .vacancies__main-container-accordions {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
      }

      .vacancies__container-accordion {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          height: 100%;
          flex: 0.5;

          &.vacancies__container-accordion-first {
            flex: 0.42;
          }
        }

        .vacancies__accordion-item {
          margin-top: 20px;
          width: 100%;
          border-bottom: 1px solid var(--color-background-type-6);

          .vacancies__accordion-container-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;

            .vacancies__accordion-item-container-header {
              .vacancies__accordion-item-header {
                font-size: 22px;
                font-weight: 400;
                font-family: Philosopher, sans-serif;
                line-height: 22px;
                color: var(--color-text-small-headers-in-sections);

                @media (min-width: 768px) {
                  font-size: 24px;
                }
                @media (min-width: 992px) {
                  font-size: 26px;
                }
              }
              .vacancies__accordion-item-description {
                font-size: 12px;
                font-weight: 400;
                font-family: Philosopher, sans-serif;
                line-height: 12px;
                color: var(--color-text-main-nav-section-headers);
                margin-top: 10px;
              }
            }
            .vacancies__accordion-container-icon-plus {
              position: relative;
              width: 15px;
              height: 15px;
              display: flex;
              align-items: center;
              justify-content: center;

              .vacancies__accordion-icon-line-horizontal {
                width: 100%;
                height: 2px;
                background-color: var(--color-background-main);
              }
              .vacancies__accordion-icon-line-vertical {
                position: absolute;
                &.vacancies__accordion1-icon-line-vertical{
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: var(--color-background-main);
                &.vacancies__accordion1-icon-line-vertical-not-visible{
                  height: 0;
                }
                }
                &.vacancies__accordion2-icon-line-vertical{
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: var(--color-background-main);
                &.vacancies__accordion2-icon-line-vertical-not-visible{
                  height: 0;
                }
                }
              }
            }
          }
          .vacancies__accordion-item-container-content {
            .vacancies__accordion-item-content {
              .vacancies__accordion-item-content-small-header {
                font-size: 17px;
                font-weight: 700;
                font-family: "Albert Sans", sans-serif;
                line-height: 25.5px;
                color: var(--color-text-main-description);
              }

              .vacancies__accordion-item-content-small-description {
                font-size: 17px;
                font-weight: 400;
                font-family: "Albert Sans", sans-serif;
                line-height: 25.5px;
                color: var(--color-text-main-description);
                padding-bottom: 30px;
              }
            }
            &.vacancies__accordion1-item-container-content{
              max-height: 0;
              overflow: hidden;
              opacity: 0;
              transition: all 0.3s ease;
              &.active-content-dropdown1{
                max-height: 530px;
                opacity: 1;
              }
            }
            &.vacancies__accordion2-item-container-content{
              max-height: 0;
              overflow: hidden;
              opacity: 0;
              transition: all 0.3s ease;
              &.active-content-dropdown2{
                max-height: 530px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
