.steps {
  width: 100%;
  background-image: url(../img/about-background-up.svg);
  background-size: cover;
  padding: 90px 0;

  .steps__main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .steps__container-icon-company {
      display: flex;
      flex-direction: column;

      .steps__container-icon {
        width: 50px;
        height: 50px;

        .steps__icon-company {
          width: 100%;
          height: 100%;
        }
      }
      .steps__name-section {
        font-size: 12px;
        font-weight: 800;
        font-family: "Albert Sans", sans-serif;
        line-height: 12px;
        letter-spacing: 1.2px;
        color: rgb(132, 120, 104);
        margin-top: 10px;
      }
    }
    .steps__header {
      font-size: 34px;
      font-weight: 400;
      font-family: Philosopher, sans-serif;
      line-height: 40.8px;
      color: rgb(58, 58, 58);
      text-align: center;
      margin: 25px 0;

      @media (min-width: 768px) {
        font-size: 41px;
      }
      @media (min-width: 768px) {
        font-size: 48px;
      }
    }

    .steps__container-steps {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(1, minmax(201px, 1fr));
      grid-template-rows: repeat((4, minmax(95px, 1fr)));
      row-gap: 20px;

      @media (min-width: 480px) {
        grid-template-columns: repeat(2, minmax(201px, 1fr));
        grid-template-rows: repeat((2, minmax(121px, 1fr)));
        column-gap: 20px;
        row-gap: 30px;
      }

      @media (min-width: 992px) {
        grid-template-columns: repeat(4, minmax(206px, 1fr));
        grid-template-rows: repeat(1, minmax(125px, 1fr));
        grid-column: 15px;
        grid-row: 0;
      }

      .steps__container-step {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        @media (min-width: 480px) {
          margin-top: 0;
        }

        .steps__container-header-step {
          display: flex;

          .steps__number-step {
            font-size: 22px;
            font-weight: 400;
            font-family: Philosopher, sans-serif;
            line-height: 24.2px;
            color: rgb(132, 120, 104);
          }
          .steps__header-step {
            font-size: 22px;
            font-weight: 400;
            font-family: Philosopher, sans-serif;
            line-height: 24.2px;
            color: rgb(43, 43, 43);
            margin-left: 2px;

            @media (min-width: 768px) {
              font-size: 24px;
            }
            @media (min-width: 992px) {
              font-size: 26px;
            }
          }
        }
        .steps__description-step {
          font-size: 17px;
          font-weight: 400;
          font-family: "Albert Sans", sans-serif;
          line-height: 25.5px;
          color: rgb(133, 133, 133);
          margin-top: 15px;
        }
      }
    }
    .steps__container-image {
      width: 100%;
      height: 212px;
      margin-top: 50px;
      position: relative;

      @media (min-width: 768px) {
        width: 100%;
        height: 528px;
      }

      @media (min-width: 992px) {
        width: 100%;
        height: 540px;
      }

      .steps__container-main-image {
        width: 100%;
        height: 100%;

        .steps__main-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .steps__container-image-triangle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        color: #02776e;
        background-color: white;
        border-radius: 50%;

        @media (min-width: 768px) {
          width: 100px;
          height: 100px;
        }

        .steps__image-triangle {
          width: 100%;
          height: 100%;
        }
      }
    }

    .steps__list-advantages {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        margin-top: 40px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }

      .steps__item-advantages {
        flex: 1;
        margin-top: 40px;

        @media (min-width: 768px) {
          margin-top: 0;
          flex: 0.3;
        }

        .steps__item-advantages-header {
          font-size: 12px;
          font-weight: 800;
          font-family: "Albert Sans", sans-serif;
          line-height: 12px;
          letter-spacing: 1.2px;
          color: rgb(132, 120, 104);
        }
        .steps__item-advantages-description {
          font-size: 17px;
          font-weight: 400;
          font-family: "Albert Sans", sans-serif;
          line-height: 25.5px;
          color: rgb(133, 133, 133);
          margin-top: 15px;
        }
      }
      @media (min-width: 768px) {
        .steps__item-advantages:nth-child(2) {
          margin-top: 40px;
        }
      }
    }
  }
}
