.vacancies {
  width: 100%;
  background-image: url(../img/about-about-us-background.svg);
  padding: 90px 0;

  .vacancies__main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    .vacancies__container-header-description {
      display: flex;
      flex-direction: column;

      .vacancies__container-header {
        display: flex;
        flex-direction: column;

        .vacancies__container-icon-company {
          display: flex;
          width: fit-content;

          .vacancies__container-icon {
            width: 20px;
            height: 24px;

            .vacancies__icon-company {
              width: 100%;
              height: 100%;
            }
          }
          .vacancies__name-section {
            font-size: 12px;
            font-weight: 800;
            font-family: "Albert Sans", sans-serif;
            line-height: 24px;
            letter-spacing: 1.2px;
            color: rgb(132, 120, 104);
            margin-left: 10px;
          }
        }
        .vacancies__header {
          font-size: 34px;
          font-weight: 400;
          font-family: Philosopher, sans-serif;
          line-height: 40.8px;
          color: rgb(58, 58, 58);
          margin: 20px 0 50px 0;
        }
      }
      .vacancies__block-description {
        .vacancies__description {
          font-size: 17px;
          font-weight: 400;
          font-family: "Albert Sans", sans-serif;
          line-height: 25.5px;
          color: rgb(133, 133, 133);
          margin-bottom: 20px;
        }
        .vacancies__link-send-cv {
          font-size: 12px;
          font-weight: 800;
          font-family: "Albert Sans", sans-serif;
          line-height: 12px;
          letter-spacing: 1.2px;
          color: rgb(2, 119, 110);
          cursor: pointer;
        }
      }
    }
    .vacancies__main-container-accordions {
      display: flex;
      flex-direction: column;

      .vacancies__container-accordion {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        .vacancies__accordion-item {
          margin-top: 20px;
          width: 100%;
          border-bottom: 1px solid #d5d5d5;

          .accordion__accordion-container-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;

            .vacancies__accordion-item-container-header {
              .vacancies__accordion-item-header {
                font-size: 22px;
                font-weight: 400;
                font-family: Philosopher, sans-serif;
                line-height: 22px;
                color: rgb(58, 58, 58);
              }
              .vacancies__accordion-item-description {
                font-size: 12px;
                font-weight: 400;
                font-family: Philosopher, sans-serif;
                line-height: 12px;
                color: rgb(132, 120, 104);
                margin-top: 10px;
              }
            }
            .vacancies__accordion-container-icon-plus {
              position: relative;
              width: 15px;
              height: 15px;
              display: flex;
              align-items: center;
              justify-content: center;

              .vacancies__accordion-icon-line-horizontal {
                width: 100%;
                height: 2px;
                background-color: #555555;
              }
              .vacancies__accordion-icon-line-vertical {
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: #555555;
              }
            }
          }
          .vacancies__accordion-item-container-content {
            height: 0;
            overflow: hidden;

            .vacancies__accordion-item-content {
              .vacancies__accordion-item-content-small-header {
                font-size: 17px;
                font-weight: 700;
                font-family: "Albert Sans", sans-serif;
                line-height: 25.5px;
                color: rgb(133, 133, 133);
              }
              .vacancies__accordion-item-content-small-description{
                font-size: 17px;
                font-weight: 400;
                font-family: "Albert Sans", sans-serif;
                line-height: 25.5px;
                color: rgb(133, 133, 133);
              }
            }
          }
        }
      }
    }
  }
}
